<div class="mortgagecalc__panel">

  <div class="tabs">
    <dl class="tabs__list rendered-from-js">
      <dt><a href="#" class="tabs__link" ng-click="showMonthly()" ng-class="{ 'tabs__current' : viewMonthlyRepayments }"><%= I18n.t("repayment.tabs.repayment.title") %></a></dt>

      <dt><a href="#" class="tabs__link" ng-click="showInterest()" ng-class="{ 'tabs__current' : viewInterestRepayments }"><%= I18n.t("repayment.tabs.interest_only.title") %></a></dt>
    </dl>

    <div class="tabs__content">
      <div class="tabs__panel" ng-show="viewMonthlyRepayments">
        <h3 class="subheading hide-with-js"><%= I18n.t("repayment.tabs.repayment.title") %></h3>
        <%= render 'monthly_repayments' %>
        <%= render 'repayment_tip' %>
      </div>
      <div class="tabs__panel" ng-show="viewInterestRepayments">
        <h3 class="subheading hide-with-js"><%= I18n.t("repayment.tabs.interest_only.title") %></h3>
        <%= render 'interest_only_repayments' %>
        <%= render 'repayment_tip' %>
      </div>
  </div>
</div>

  <div class="callout">
    <h4 class="callout__heading"><%= I18n.t("repayment.interest_changer.title") %></h4>
    <p><%= raw I18n.t("repayment.interest_changer.intro", change: 1) %></p>

     <div ng-show="viewMonthlyRepayments"><%= render 'monthly_increment' %></div>
     <div ng-show="viewInterestRepayments"><%= render 'interest_monthly_increment' %></div>
  </div>
</div>
