<div class="mortgagecalc__panel">

  <div class="tabs">
    <dl class="tabs__list">
      <dt tabindex="0" ng-click="showMonthly()" ng-class="{ 'tabs__current' : viewMonthlyRepayments }"><%= I18n.t("repayment.tabs.repayment.title") %></dt>

      <dt tabindex="0" ng-click="showInterest()" ng-class="{ 'tabs__current' : viewInterestRepayments }"><%= I18n.t("repayment.tabs.interest_only.title") %></dt>
    </dl>

    <div class="tabs__content">
      <div ng-show="viewMonthlyRepayments">
        <%= render 'monthly_repayments' %>
        <%= render 'repayment_tip' %>
      </div>
      <div ng-show="viewInterestRepayments">
        <%= render 'interest_only_repayments' %>
        <%= render 'repayment_tip' %>
      </div>
  </div>
</div>

  <div class="callout">
    <h4 class="callout__heading"><%= I18n.t("repayment.interest_changer.title") %></h4>
    <p><%= raw I18n.t("repayment.interest_changer.intro", change: 1) %></p>

     <div ng-show="viewMonthlyRepayments"><%= render 'monthly_increment' %></div>
     <div ng-show="viewInterestRepayments"><%= render 'interest_monthly_increment' %></div>
  </div>
</div>
