<h2 class="mortgagecalc__heading"><%= I18n.t("repayment.step_1.intro") %></h2>

<%= form_for @repayment, url: repayment_path do |f| %>
  <div class="mortgagecalc__panel">
    <div>
      <%= f.label :price,
        "id" => "label_initial_price" %>
      <%= f.text_field :price,
                      "class" => "js-polyfill",
                      "ng-model" => "repayments.propertyPrice",
                      "placeholder" => "£0.00",
                      "currency" => '',
                      "data-a-sign" =>"£",
                      "data-m-dec" =>"0",
                      "aria-labelledby" => "label_initial_price" %>
    </div>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--with-form">
    <div>
      <%= f.label :deposit,
        "id" => "label_initial_deposit" %>
      <%= f.text_field :deposit,
                      "class" => "js-polyfill",
                       "ng-model" => "repayments.deposit",
                       "placeholder" => "£0.00",
                       "currency" => '',
                       "data-a-sign" =>"£",
                       "data-m-dec" =>"0",
                       "aria-labelledby" => "label_initial_deposit" %>
    </div>

    <%= f.submit I18n.t("repayment.next"), class: "button button--primary mortgagecalc__submit",
                                           'ng-click' => 'navigateAndFocus($event)',
                                           'analytics-completion' => '',
                                           'ng-disabled' => '!repayments.propertyPrice' %>


    <div ng-class="{ 'visibly-hidden' : !repayments.propertyPrice }" class="callout">
      <%= I18n.t("repayment.tips.hidden_costs") %>
    </div>
  </div>

<% end %>
