<%= form_for @repayment, url: repayment_path, html: { class: 'step_two', id: 'edit_repayment'} do |f| %>
  <div>
    <%= f.label :price,
    	"id" => "label_price" %>
    <%= f.text_field :price,
                     id: 'edit_repayment_price',
                     class: 'dynamic-slider-property',
                     "ng-model" => "repayments.propertyPrice",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" =>"£",
                     "data-m-dec" =>"0",
                     "aria-labelledby" => "label_price",
                     "analytics" => '',
                     "analytics-on" => 'change',
                     "analytics-category" => 'Mortgage Calculator',
                     "analytics-action" => 'Refinement',
                     "analytics-label" => 'Price'
                     %>

    <div class="slider price" ui-slider dynamic-for='dynamic-slider-property' ng-model="repayments.propertyPrice" aria-labelledby="label_price" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Price"></div>
  </div>

  <div>
    <%= f.label :deposit,
    	"id" => "label_deposit" %>
    <%= f.text_field :deposit,
                     id: 'edit_repayment_deposit',
                     class: 'dynamic-slider-deposit',
                     "ng-model" => "repayments.deposit",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" =>"£",
                     "data-m-dec" =>"0",
                     "aria-labelledby" => "label_deposit",
                     "analytics" => '',
                     "analytics-on" => 'change',
                     "analytics-category" => 'Mortgage Calculator',
                     "analytics-action" => 'Refinement',
                     "analytics-label" => 'Deposit'
                     %>

    <div class="slider deposit" ui-slider dynamic-for='dynamic-slider-deposit' ng-model="repayments.deposit" aria-labelledby="label_deposit" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Deposit"></div>
  </div>

  <div>
    <%= f.label :term_years,
    	"id" => "label_term" %>
    <%= f.text_field :term_years,
                     "ng-model" => "repayments.termYears",
                     "placeholder" => "eg 25",
                     "year" => "",
                     "aria-labelledby" => "label_term",
                     "analytics" => '',
                     "analytics-on" => 'change',
                     "analytics-category" => 'Mortgage Calculator',
                     "analytics-action" => 'Refinement',
                     "analytics-label" => 'Years'
                     %>

    <div class="slider" ui-slider min="5" max="40" ng-model="repayments.termYears" aria-labelledby="label_term" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Years"></div>
  </div>

  <div>
    <%= f.label :interest_rate,
    	"id" => "label_rate" %>
    <%= f.text_field :interest_rate,
                     "ng-model" => "repayments.annualInterestRate",
                     "placeholder" => "eg 5",
                     "percentage" => "",
                     "data-a-sign" => "%",
                     "data-p-sign" => "s",
                     "aria-labelledby" => "label_rate",
                     "analytics" => '',
                     "analytics-on" => 'change',
                     "analytics-category" => 'Mortgage Calculator',
                     "analytics-action" => 'Refinement',
                     "analytics-label" => 'Interest Rate'
                     %>

    <div class="slider" ui-slider min="0.25" max="15" step="0.25" ng-model="repayments.annualInterestRate" aria-labelledby="label_rate" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Interest Rate"></div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("mortgage_calculator.repayment.recalculate"),
    					'class' => 'button',
                        'wz-next' => '' %></p>
  </div>
<% end %>
