<p>
  <%= I18n.t("repayment.step_1.intro") %>
</p>

<%= form_for @repayment, url: repayment_path do |f| %>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :deposit %>
  <%= f.text_field :deposit %>

  <%= f.submit I18n.t("repayment.next") %>
<% end %>

<p>
  <%= I18n.t("repayment.tips.hidden_costs") %>
</p>
