<div class="morgagecalc__panel">
  <p><%= I18n.t("repayment.step_1.intro") %></p>
</div>

<div class="morgagecalc__panel">
  <%= form_for @repayment, url: repayment_path do |f| %>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div>
      <%= f.label :deposit %>
      <%= f.text_field :deposit %>
    </div>

    <%= f.submit I18n.t("repayment.next") %>
  <% end %>

  <p>
    <%= I18n.t("repayment.tips.hidden_costs") %>
  </p>
</div>