<div class="mortgagecalc__panel mortgagecalc__panel--full">

  <%= t("mortgage_calculator.repayment.step_1.intro_html") %>

  <div class="expander">
    <p>
      <%= t("mortgage_calculator.repayment.step_1.intro_text") %>
      <a href="#" class="rendered-from-js expander__link--intro" ng-class="{ 'expander__link--intro-expanded' : expandedIntroText }" ng-click="toggleIntroExpanded($event)"><%= t("mortgage_calculator.repayment.step_1.intro_expand_html") %></a>
      <span ng-show="expandedIntroText"><%= t("mortgage_calculator.repayment.step_1.intro_hidden_html") %></span>
    </p>
  </div>

  <h3><%= t("mortgage_calculator.repayment.step_1.title") %></h3>
</div>

<%= form_for @repayment, :html => {:class => "form step_one", novalidate: ''}, url: repayment_path do |f| %>
  <div class="mortgagecalc__panel mortgagecalc__panel--with-form">
    <div class="form__item">
      <%= f.label :price,
        "id" => "label_initial_price" %>
      <span class="form__input-container">
        <span class="form__input-label">£</span>
        <%= f.text_field :price,
                         "class" => "form__input js-polyfill dynamic-slider-property",
                         "ng-model" => "repayments.propertyPrice",
                         "placeholder" => "0.00",
                         "autofocus" => '',
                         "currency" => '',
                         "data-m-dec" =>"0",
                         "aria-labelledby" => "label_initial_price",
                         "pattern" => '\d*' %>
        <span class="form__input-outline"></span>
      </span>
    </div>

    <div class="form__item">
      <%= f.label :deposit,
        "id" => "label_initial_deposit" %>
      <span class="form__input-container">
        <span class="form__input-label">£</span>
        <%= f.text_field :deposit,
                         "class" => "form__input js-polyfill dynamic-slider-deposit",
                         "ng-model" => "repayments.deposit",
                         "placeholder" => "0.00",
                         "currency" => '',
                         "data-m-dec" =>"0",
                         "aria-labelledby" => "label_initial_deposit",
                         "pattern" => '\d*' %>
        <span class="form__input-outline"></span>
      </span>
    </div>
  </div>

  <div class="mortgagecalc__panel">
    <div ng-class="{ 'visibly-hidden' : !repayments.deposit }" class="callout">
      <%= I18n.t("mortgage_calculator.repayment.tips.hidden_costs") %>
    </div>

    <%= f.submit I18n.t("mortgage_calculator.repayment.next"),
                 class: "button button--primary mortgagecalc__submit",
                 'ng-click' => 'navigateAndFocus($event); dockerControl.showDocker()',
                 'analytics' => '',
                 'analytics-on' => 'click',
                 'analytics-category' => 'Mortgage Calculator',
                 'analytics-action' => 'Completion',
                 'analytics-label' => 'Click',
                 'ng-disabled' => '!repayments.propertyPrice' %>

  </div>

<% end %>
