<h2 class="mortgagecalc__heading"><%= I18n.t("repayment.step_1.intro") %></h2>

<%= form_for @repayment, url: repayment_path do |f| %>
<div class="mortgagecalc__panel">
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
</div>

<div class="mortgagecalc__panel mortgagecalc__panel--with-form">
  <div>
    <%= f.label :deposit %>
    <%= f.text_field :deposit %>
  </div>

  <%= f.submit I18n.t("repayment.next"), class: "button button--primary mortgagecalc__submit",
                                         'wz-next' => '' %>


<div class="callout mortgagecalc__callout">
  <%= I18n.t("repayment.tips.hidden_costs") %>
</div>
</div>

<% end %>
