<%= form_for @repayment, url: repayment_path, html: { class: 'step_two', id: 'edit_repayment'} do |f| %>
  <div>
    <%= f.label :price,
    	"id" => "label_price" %>
    <%= f.text_field :price,
                     "ng-model" => "repayments.propertyPrice",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" =>"£",
                     "data-m-dec" =>"0",
                     "aria-labelledby" => "label_price",
                     "analytics-refinement" => '' %>

    <div class="slider price" ui-slider el='repayment_price' ng-model="repayments.propertyPrice"></div>
  </div>

  <div>
    <%= f.label :deposit,
    	"id" => "label_deposit" %>
    <%= f.text_field :deposit,
                     "ng-model" => "repayments.deposit",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" =>"£",
                     "data-m-dec" =>"0",
                     "aria-labelledby" => "label_deposit",
                     "analytics-refinement" => '' %>

    <div class="slider deposit" ui-slider el='repayment_deposit' ng-model="repayments.deposit"></div>
  </div>

  <div>
    <%= f.label :term_years,
    	"id" => "label_term" %>
    <%= f.text_field :term_years,
                     "ng-model" => "repayments.termYears",
                     "placeholder" => "eg 25",
                     "year" => "",
                     "aria-labelledby" => "label_term",
                     "analytics-refinement" => '' %>

    <div class="slider" ui-slider min="5" max="40" ng-model="repayments.termYears"></div>
  </div>

  <div>
    <%= f.label :interest_rate,
    	"id" => "label_rate" %>
    <%= f.text_field :interest_rate,
                     "ng-model" => "repayments.annualInterestRate",
                     "placeholder" => "eg 5",
                     "percentage" => "",
                     "data-a-sign" => "%",
                     "data-p-sign" => "s",
                     "aria-labelledby" => "label_rate",
                     "analytics-refinement" => '' %>

    <div class="slider" ui-slider min="0.25" max="15" step="0.25" ng-model="repayments.annualInterestRate"></div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("repayment.recalculate"),
    					'class' => 'button',
                        'wz-next' => '' %></p>
  </div>
<% end %>
