<%= form_for @repayment, url: repayment_path do |f| %>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.label :deposit %>
    <%= f.text_field :deposit %>
  </div>

  <div>
    <%= f.label :term_years %>
    <%= f.text_field :term_years %>
  </div>

  <div>
    <%= f.label :interest_rate %>
    <%= f.text_field :interest_rate %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
