<%= form_for @repayment, url: repayment_path, html: { class: 'form step_two mortgagecalc__form', id: 'edit_repayment', novalidate: ''} do |f| %>
  <div class="form__item">
    <%= f.label :price,
    	"id" => "label_price" %>
    <span class="form__input-container">
      <span class="form__input-label">£</span>
      <%= f.text_field :price,
                       id: 'edit_repayment_price',
                       class: 'dynamic-slider-property form__input',
                       "ng-model" => "repayments.propertyPrice",
                       "placeholder" => "0.00",
                       "currency" => '',
                       "data-m-dec" =>"0",
                       "aria-labelledby" => "label_price",
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Mortgage Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Price',
                       "pattern" => '\d*',
                       "autoselect" => ""
                   %>
      <span class="form__input-outline"></span>
    </span>

    <div class="slider price" ui-slider dynamic-for='dynamic-slider-property' ng-model="repayments.propertyPrice" aria-hidden="true" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Price"></div>
  </div>

  <div class="form__item">
    <%= f.label :deposit,
    	"id" => "label_deposit" %>
    <span class="form__input-container">
      <span class="form__input-label">£</span>
      <%= f.text_field :deposit,
                       id: 'edit_repayment_deposit',
                       class: 'dynamic-slider-deposit form__input',
                       "ng-model" => "repayments.deposit",
                       "placeholder" => "0.00",
                       "currency" => '',
                       "data-m-dec" =>"0",
                       "aria-labelledby" => "label_deposit",
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Mortgage Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Deposit',
                       "pattern" => '\d*',
                       "autoselect" => ""
                       %>
      <span class="form__input-outline"></span>
    </span>

    <div class="slider deposit" ui-slider percentage-for-minimum="50" percentage-for-maximum="200" dynamic-for='dynamic-slider-deposit' ng-model="repayments.deposit" aria-hidden="true" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Deposit"></div>
  </div>

  <div class="form__item">
    <%= f.label :term_years,
    	"id" => "label_term" %>
    <span class="form__input-container">
      <%= f.text_field :term_years,
                       "class" => "form__input",
                       "ng-model" => "repayments.termYears",
                       "placeholder" => "eg 25",
                       "integer" => "",
                       "aria-labelledby" => "label_term",
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Mortgage Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Years',
                       "pattern" => '\d*',
                       "autoselect" => ""
                       %>
      <span class="form__input-label">years</span>
      <span class="form__input-outline"></span>
    </span>

    <div class="slider" ui-slider min="5" max="40" ng-model="repayments.termYears" aria-hidden="true" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Years"></div>
  </div>

  <div class="form__item">
    <%= f.label :interest_rate,
    	"id" => "label_rate" %>
    <span class="form__input-container">
      <%= f.number_field :interest_rate,
                       "class" => "form__input",
                       "ng-model" => "repayments.annualInterestRate",
                       "placeholder" => "eg 5",
                       "percentage" => "",
                       "data-p-sign" => "s",
                       "aria-labelledby" => "label_rate",
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Mortgage Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Interest Rate',
                       "step" => "0.01",
                       "autoselect" => ""
                       %>
      <span class="form__input-label">%</span>
      <span class="form__input-outline"></span>
    </span>

    <div class="slider" ui-slider min="0.25" max="15" step="0.25" ng-model="repayments.annualInterestRate" aria-hidden="true" analytics-category="Mortgage Calculator" analytics-action="Refinement" analytics-label="Interest Rate"></div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("mortgage_calculator.repayment.recalculate"),
    					'class' => 'button',
                        'wz-next' => '' %></p>
  </div>
<% end %>
