<div class="mortgagecalc__panel mortgagecalc__panel--border-left">
  <h4 class="mortgagecalc__heading"><%= I18n.t("mortgage_calculator.repayment.next_steps.title") %></h4>

  <ol class="featured-list featured-list--no-border">
    <li><strong><%= I18n.t("mortgage_calculator.repayment.next_steps.tip_1.heading") %></strong> <%= link_to t("mortgage_calculator.repayment.next_steps.tip_1.info_html"), I18n.t("mortgage_calculator.repayment.next_steps.tip_1.url"), target: "_blank", rel: no_follow? %></li>
    <li><strong><%= I18n.t("mortgage_calculator.repayment.next_steps.tip_2.heading") %></strong> <%= I18n.t("mortgage_calculator.repayment.next_steps.tip_2.info") %></li>
    <li><strong><%= I18n.t("mortgage_calculator.repayment.next_steps.tip_3.heading") %></strong> <%= link_to t("mortgage_calculator.repayment.next_steps.tip_3.info_html"), I18n.t("mortgage_calculator.repayment.next_steps.tip_3.url"), target: "_blank", rel: no_follow? %></li>
  </ol>
</div>

