<p><%= I18n.t("repayment.next_steps.title") %></p>

<p><%= I18n.t("repayment.next_steps.tip_1") %></p>
<p><%= I18n.t("repayment.next_steps.tip_2") %></p>
<p><%= I18n.t("repayment.next_steps.tip_3") %></p>

<p><%= I18n.t("repayment.next_steps.learn_more.title") %></p>
<p><%= I18n.t("repayment.next_steps.learn_more.tip_1") %></p>
<p><%= I18n.t("repayment.next_steps.learn_more.tip_2") %></p>

<p><%= I18n.t("repayment.next_steps.find_out_more.title") %></p>
<p><%= I18n.t("repayment.next_steps.find_out_more.tip_1") %></p>
<p><%= I18n.t("repayment.next_steps.find_out_more.tip_2") %></p>

<p><input type="submit" class='button mortgagecalc__submit' wz-previous value="Back" /></p>
