<%= render 'header' %>

<div class="mortgagecalc__container">
  <%= render 'calc_left_panel' %>

  <%= render 'calc_right_panel' %>
</div>

<%= render 'caveat' %>

<div class="mortgagecalc__feedback"><%= zendesk_feedback_tab(zendesk_repayment_config) %></div>
