<% content_for(:analytics) do %>
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_trackEvent','Mortgage Calculator','Completion','Click']);
  </script>
<% end %>

<div class="ns-mortgage-calc__mortgagecalc__container">
  <%= render 'header' %>
  <%= render 'calc_left_panel' %>
  <%= render 'calc_right_panel' %>
  <%= render 'caveat' %>

  <%= render 'feedback' %>
  <%= render 'seo_links' %>
</div>
