<div ng-controller="CalculatorCtrl" class="mortgagecalc__container">
  <%= render 'header' %>

  <% @repayment.errors.full_messages.each do |m| %>
    <span style="color:red;"><%= m %></span>
  <% end %>

  <div wizard on-finish="finishedWizard()" hide-indicators='true'>

    <div wz-step class="ng-hide">
      <%= render 'form_step1' %>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <%= render 'calc_left_panel' %>
        <%= render 'calc_right_panel' %>
      </div>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <%= render 'next_steps_content' %>
      </div>
    </div>

  </div>

  <%= render 'caveat' %>

</div>

<div class="mortgagecalc__feedback"><%= zendesk_feedback_tab(zendesk_repayment_config) %></div>

