<table class="mortgagecalc__table stamp-duty__table">
  <thead>
    <tr>
      <th class="mortgagecalc__table__price"><%= I18n.t("#{i18n_locale_namespace}.table.property_price_header") %></th>
      <th class="mortgagecalc__table__rate">
        <% if stamp_duty_calculator? %>
          <%= I18n.t("#{i18n_locale_namespace}.table.rate_header") %>
        <% else %>
          <%= I18n.t("#{i18n_locale_namespace}.table.verbose_rate_header") %>
        <% end %>
      </th>
      <% unless hide_additional %>
        <th class="mortgagecalc__table__extra"><%= I18n.t("#{i18n_locale_namespace}.table.extra_rate_header") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rates.each_with_index do |rate, index| %>
      <tr>
        <td class="mortgagecalc__table__price"><%= band(rate[:start], rate[:end]) %></td>
        <td class="mortgagecalc__table__rate"><%= rate[:rate] %>%</td>
        <% if i18n_locale_namespace == 'land_and_buildings_transaction_tax' %>
          <% if index == 0 %>
            <td class="mortgagecalc__table__extra mortgagecalc__table__common-row" rowspan="<%= rates.length %>">
              <%= I18n.t("#{i18n_locale_namespace}.table.extra_rate", rate: second_home_rate(rate[:rate])) %>
            </td>
          <% end %>
        <% else %>
          <% unless hide_additional %>
            <td class="mortgagecalc__table__extra"><%= second_home_rate(rate[:rate]) %>%</td>
          <% end %>
        <% end %>
      </tr>
     <% end %>
  </tbody>
</table>
