<table class="mortgagecalc__table stamp-duty__table">
  <thead>
    <tr>
      <th class="mortgagecalc__table__lbtt-price">
        <%= I18n.t("#{i18n_locale_namespace}.table.property_price_header") %>
      </th>
      <th class="mortgagecalc__table__lbtt-standard-bill">
        <%= I18n.t("#{i18n_locale_namespace}.table.standard_bill_header") %>
      </th>
      <th class="mortgagecalc__table__lbtt-ftb-relief-amount">
        <%= I18n.t("#{i18n_locale_namespace}.table.ftb_relief_amount_header") %>
      </th>
      <th class="mortgagecalc__table__lbtt-ftb-total-amount">
        <%= I18n.t("#{i18n_locale_namespace}.table.ftb_total_amount_header") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% buyer_journey_examples.each do |example| %>
      <tr>
        <td class="mortgagecalc__table__lbtt-price">
          <%= example[:purchase_price] %>
        </td>
        <td class="mortgagecalc__table__lbtt-standard-bill">
          <%= example[:standard_lbtt] %>
        </td>
        <td class="mortgagecalc__table__lbtt-ftb-relief-amount">
          <%= example[:ftb_relief] %>
        </td>
        <td class="mortgagecalc__table__lbtt-ftb-total-amount">
          <%= example[:ftb_lbtt] %>
        </td>
      </tr>
     <% end %>
  </tbody>
</table>
