<h2><%= t('land_and_buildings_transaction_tax.elsewhere.title') %></h2>
<p><%= t('land_and_buildings_transaction_tax.elsewhere.body') %></p>

<div class="l-constrained l-tool-promos__inner l-tool-promos">
  <a class="l-tool-promos__item promo__link" href="#">
    <h3 class="promo__heading"><%= t('land_and_buildings_transaction_tax.elsewhere.england_ni.title') %></h3>
    <p class="promo__content"><%= t('land_and_buildings_transaction_tax.elsewhere.england_ni.body') %></p>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right promo__arrow" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
    </svg
  </a>
  <a class="l-tool-promos__item promo__link" href="#">
    <h3 class="promo__heading"><%= t('land_and_buildings_transaction_tax.elsewhere.wales.title') %></h3>
    <p class="promo__content"><%= t('land_and_buildings_transaction_tax.elsewhere.wales.body') %></p>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right promo__arrow" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
    </svg
  </a>
</div>
