<div class="stamp-duty__results">
  <div class="stamp-duty__results-heading" aria-live="polite" aria-atomic="true">
    <div ng-hide="js">
      <% key = @lbtt.second_home? ? 'second_title' : 'title' %>
      <%= I18n.t("land_and_buildings_transaction_tax.results.#{key}") %>
    </div>
    <div class="hidden-unless-js">
      <span ng-if="stampDuty.isSecondHome">
        <%= I18n.t('land_and_buildings_transaction_tax.results.second_title') %>
      </span>
      <span ng-if="!stampDuty.isSecondHome">
        <%= I18n.t('land_and_buildings_transaction_tax.results.title') %>
      </span>
    </div>

    <span ng-hide="js">
      <%= number_to_currency @lbtt.tax_due_formatted %>
    </span>
    <span class="rendered-from-js">
      {{ stampDuty.cost() | customCurrency:"£" }}
    </span>
  </div>

  <p ng-hide="js" class="stamp-duty__results-tax-rate ng-hide">
    <%= I18n.t('land_and_buildings_transaction_tax.results.sentence',
              percentage: number_to_percentage(
                @lbtt.percentage_tax, precision: 2
              )
        )
    %>
  </p>

  <p class="rendered-from-js stamp-duty__results-tax-rate">
    <%= I18n.t('land_and_buildings_transaction_tax.results.sentence_prefix') %>
    {{ stampDuty.percentageTax() | number: 2 }}
    <%= I18n.t('land_and_buildings_transaction_tax.results.sentence_suffix') %>
  </p>

  <% if outside_first_time_rate? %>
    <p ng-hide="js" class="stamp-duty__FTB_conditional ng-hide is-active">
      <%= I18n.t('land_and_buildings_transaction_tax.results.FTB_conditional', amount: ftb_threshold) %>
    </p>
  <% end %>
  <p class="rendered-from-js stamp-duty__FTB_conditional">
    <%= I18n.t('land_and_buildings_transaction_tax.results.FTB_conditional', amount: ftb_threshold) %>
  </p>

  <div>
    <a href="#"
       class="rendered-from-js
              expander expander--nudge
              stamp-duty__how-calculated-toggle"
                ng-class="{ 'expander--expanded' : expandedStampDutyInformation }"
                ng-click="toggleStampDutyExpanded($event)"
                affects-height="click">
      <%= I18n.t('land_and_buildings_transaction_tax.how_calculated_toggle') %>
      <span class="visually-hidden">
        <%= I18n.t('land_and_buildings_transaction_tax.results.click_to_expand') %>
      </span>
    </a>
    <%= render 'lbtt_tip' %>
  </div>
</div>
