<% if @affordability.valid? %>
  <%= f.form_row(:borrowing, html_options: {classes: "hide-with-js"}) do %>
    <%= f.label :borrowing %>

    <%= f.text_field :borrowing,
                     "class" => "form__input",
                     value: @affordability.borrowing_formatted
    %>
  <% end %>

  <%= f.form_row(html_options: {classes: "hide-with-js"}) do %>
    <%= f.submit I18n.t("affordability.recalculate"), class: "button recalculate-button" %>
  <% end %>
<% end %>

<label class="rendered-from-js results dynamic-slider-property label-follower label-follower--top" id="borrowing-amount" for="borrowing-amount-slider">
  {{ repayments.propertyPrice | customCurrency:"£":"whole"}}
</label>

<div class="slider slider--with-follower-top slider--squeeze" ui-slider min="affordability.minimumBorrowing()" max="affordability.maximumBorrowing()" step="1000" ng-model="repayments.propertyPrice" label-follower="#borrowing-amount" aria-labelledby="borrowing-amount" analytics-category="Affordability Calculator" analytics-action="Refinement" analytics-label="Borrowing" id="slider-borrowing"></div>

<p class="rendered-from-js borrowing-range">
  <span class="borrowing-range__min">
    {{ affordability.minimumBorrowing() | customCurrency:"£":"whole"}}
  </span>

  <span class="borrowing-range__max">
    {{ affordability.maximumBorrowing() | customCurrency:"£":"whole"}}
  </span>
</p>
