<p><%= I18n.t("stamp_duty.how_calculated") %></p>

<div class="table-wrapper">
  <table class="mortgagecalc__table">
    <thead>
      <tr>
        <th><%= I18n.t("stamp_duty.table.property_price_header") %></th>
        <th><%= I18n.t("stamp_duty.table.rate_header") %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>&pound;0 - &pound;125,000</td>
        <td>0%</td>
      </tr>

      <tr>
        <td>&pound;125,001 - &pound;250,000</td>
        <td>2%</td>
      </tr>

      <tr>
        <td>&pound;250,001 - &pound;925,000</td>
        <td>5%</td>
      </tr>

      <tr>
        <td>&pound;925,001 - &pound;1.5 <%= I18n.t("stamp_duty.table.million") %></td>
        <td>10%</td>
      </tr>

      <tr>
        <td><%= I18n.t("stamp_duty.table.over") %> &pound;1.5 <%= I18n.t("stamp_duty.table.million") %></td>
        <td>12%</td>
      </tr>
    </tbody>
  </table>
</div>
