<table class="mortgagecalc__table stamp-duty__ftb-table">
  <thead>
    <tr>
      <th class="mortgagecalc__table__price">
        <%= I18n.t('stamp_duty.table.property_price_header') %>
      </th>
      <th class="mortgagecalc__table__rate">
        <%= I18n.t('stamp_duty.table.rate_header') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% ftb_bands.each do |b| %>
      <tr>
        <td class="mortgagecalc__table__price">
          <%= band(b[:lower], b[:upper]) %>
        </td>
        <td class="mortgagecalc__table__rate">
          <%= b[:single_home] %>
          <%= I18n.t('stamp_duty.results.sentence_suffix') %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td class="mortgagecalc__table__price">
        <%= formatted_currency(ftb_bands[1][:upper]) %>+
      </td>
      <td class="mortgagecalc__table__rate">
        <%= I18n.t('stamp_duty.table.standard_rates_apply') %>
      </td>
    </tr>
  </tbody>
</table>
