
<div ng-controller="CalculatorCtrl">

    <% @stamp_duty.errors.full_messages.each do |m| %>
      <span style="color:red;"><%= m %></span>
    <% end %>

    <%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form' } do |f| %>
      <%= field_set_tag do %>
        <%= f.label :price, 'Property Price' %>
        <%= f.text_field :price,
                         "ng-pattern" => "/^\\d+$/",
                         "class" => "form-control",
                         "ng-model" => "stampDuty.propertyPrice",
                         "placeholder" => "The cost of the property",
                         "required" => '',
                         "autofocus" => '',
                         "integer" => '' %>

        <p ng-show="stamp_duty_form['stamp_duty[price]'].$invalid && !stamp_duty_form['stamp_duty[price]'].$pristine" class="help-block">Please enter an amount</p>
      <% end %>


      <%= f.submit %>


    <% end %>



  <div ng-show="stampDuty.propertyPrice">
    <p class="results">
      Based on your total purchase price of
      <span class='label label-primary'>{{ stampDuty.propertyPrice | currency:"£" }}</span>,
      you will have to pay
      <span class='label label-primary'>{{ stampDuty.percentRate() | number: 0 }}%</span>
      in stamp duty, costing
      <span class='label label-primary'>{{ stampDuty.cost() | currency:"£" }}</span>.
      Bringing your total spend to
      <span class='label label-primary'>{{ stampDuty.totalPurchase()  | currency:"£" }}</span>.
    </p>
  </div>
</div>
