<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <div class="intro"><%= I18n.t('stamp_duty.title') %></div>
  <p class="mortgagecalc__intro"><%= I18n.t('stamp_duty.page_2_description') %></p>
</div>

<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form', class: 'form step_two mortgagecalc__form mortgagecalc__form--pull', 'ng-submit' => 'preventFormSubmission($event)', novalidate: '' } do |f| %>
  <div class="form__item">
    <%= f.label :price %>
    <div class="visually-hidden"
          id="mc_accessibility_describe_price">
      <%= t 'stamp_duty.describe_price_field' %>
    </div>

    <span class="form__input-container">
      <span class="form__input-label">£</span>
      <%= f.text_field :price,
                       :value => @stamp_duty.price_formatted,
                       class: 'form__input dynamic-slider-property',
                       "ng-model" => "stampDuty.propertyPrice",
                       "placeholder" => "0.00",
                       "currency" => '',
                       "data-m-dec" => "0",
                       "analytics" => "",
                       "analytics-on" => "change",
                       "analytics-category" => "Stamp Duty Calculator",
                       "analytics-action" => "Refinement",
                       "analytics-label" => "Price",
                       "pattern" => '\d*',
                       "aria-describedby" => 'mc_accessibility_describe_price',
                       "autoselect" => ""
                       %>
      <span class="form__input-outline"></span>
    </span>
  </div>
  <%= f.hidden_field :second_home %>

  <div class="slider"
        ui-slider
        dynamic-for='dynamic-slider-property'
        ng-model="stampDuty.propertyPrice"
        analytics-category="Stamp Duty"
        analytics-action="Refinement"
        analytics-label="Price"
        aria-hidden="true">
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("stamp_duty.recalculate"),
                        'class' => 'button',
                        'wz-next' => '' %></p>
  </div>

<% end %>
