<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <div class="intro"><%= I18n.t('stamp_duty.title') %></div>
  <p class="mortgagecalc__intro"><%= I18n.t('stamp_duty.subtitle') %></p>
  <p class="mortgagecalc__intro">
     <%= I18n.t('stamp_duty.second_subtitle', :href=>link_to( t('stamp_duty.href_second_subtitle'), t('stamp_duty.url_second_subtitle') ) ).html_safe %>
  </p>
</div>

<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form', class: 'form step_one', novalidate: '' } do |f| %>
  <div class="mortgagecalc__panel">
    <div class="form__item">
      <%= f.label :price %>
      <div class="visually-hidden" id="mc_accessibility_describe_price"><%= t 'stamp_duty.describe_price_field' %></div>

      <span class="form__input-container">
        <span class="form__input-label">£</span>
        <%= f.text_field :price,
                         :value => @stamp_duty.price_formatted,
                         class: 'form__input dynamic-slider-property',
                         "autofocus" => '',
                         "ng-model" => "stampDuty.propertyPrice",
                         "placeholder" => "0.00",
                         "currency" => '',
                         "data-m-dec" =>"0",
                         "pattern" => '\d*' %>
        <span class="form__input-outline"></span>
      </span>

    </div>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full mortgagecalc__panel--with-form">
    <%= f.submit I18n.t("stamp_duty.next"),
                 class: "button button--primary mortgagecalc__submit",
                 'ng-click' => 'navigateAndFocus($event)',
                 'ng-disabled' => '!stampDuty.propertyPrice',
                 'analytics-category' => 'Stamp Duty Calculator',
                 'analytics-action' => 'Completion',
                 'analytics-label' => 'Click',
                 'analytics' => '',
                 'analytics-on' => 'click'
                 %>

  </div>
<% end %>
