<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <h2 class="mortgagecalc__heading"><%= I18n.t("stamp_duty.next_steps.title") %>:</h2>

  <ol class="featured-list">
    <li><strong><%= link_to t("stamp_duty.next_steps.tip_1.heading_html"),
                            I18n.t("stamp_duty.next_steps.tip_1.url"),
                            target: "_blank",
                            rel: no_follow? %></strong></li>
    <li><strong><%= link_to t("stamp_duty.next_steps.tip_2.heading_html"),
                            I18n.t("stamp_duty.next_steps.tip_2.url"),
                            target: "_blank",
                            rel: no_follow? %></strong></li>
    <li><strong><%= link_to t("stamp_duty.next_steps.tip_3.heading_html"),
                            I18n.t("stamp_duty.next_steps.tip_3.url"),
                            target: "_blank",
                            rel: no_follow? %></strong></li>
  </ol>
</div>

<div class="mortgagecalc__panel">
  <div class="callout">
    <h3 class="mortgagecalc__subheading"><%= I18n.t("stamp_duty.next_steps.learn_more.title") %></h3>
    <p><%= I18n.t("stamp_duty.next_steps.learn_more.tip_1") %></p>
  </div>
</div>

<div class="mortgagecalc__panel mortgagecalc__panel--nudge">
  <h3 class="mortgagecalc__subheading"><%= I18n.t("stamp_duty.next_steps.find_out_more.title") %>:</h3>
  <ul>
    <% I18n.t("stamp_duty.next_steps.find_out_more.tips").each do |tip| %>
      <li><%= link_to tip[:copy_html], tip[:url], target: "_blank", rel: no_follow? %></li>
    <% end %>
  </ul>
</div>

<div class="mortgagecalc__panel mortgagecalc__panel--full mortgagecalc__panel--with-form mortgagecalc__panel--border">
  <h2 class="mortgagecalc__heading"><%= I18n.t("stamp_duty.next_steps.have_you_tried.title") %></h2>

  <%= link_to I18n.t('stamp_duty.next_steps.have_you_tried.mortgage_calculator'),
                 full_mortgage_calculator_url,
                 class: "button button--primary mortgagecalc__spread",
                 target: "_blank",
                 rel: no_follow? %>

  <%= link_to I18n.t('stamp_duty.next_steps.have_you_tried.mortgage_affordability_calculator'),
                 full_mortgage_affordability_calculator_url,
                 class: "button button--primary mortgagecalc__spread",
                 target: "_blank",
                 rel: no_follow? %>
</div>

<div class="mortgagecalc__panel--space">
  <a href="#" class='button mortgagecalc__submit rendered-from-js' ng-click="navigateAndFocus($event, 'previous')"><%= I18n.t('stamp_duty.back') %></a>
</div>
