<div class="stamp-duty__results">
  <h2 class="stamp-duty__results-heading" aria-live="polite" aria-atomic="true">
    <div ng-hide="js">
      <% key = @stamp_duty.second_home ? 'second_title' : 'title' %>
      <%= I18n.t("stamp_duty.results.#{key}") %>
    </div>
    <div class="hidden-unless-js">
      <span ng-if="stampDuty.isSecondHome"><%= I18n.t("stamp_duty.results.second_title") %></span>
      <span ng-if="!stampDuty.isSecondHome"><%= I18n.t("stamp_duty.results.title") %></span>
    </div>
    <span ng-hide="js"><%= number_to_currency @stamp_duty.tax_due_formatted %></span>
    <span class="rendered-from-js">{{ stampDuty.cost() | customCurrency:"£" }}</span>
  </h2>

  <p ng-hide="js" class="stamp-duty__results-tax-rate"><%= I18n.t("stamp_duty.results.sentence", percentage: number_to_percentage(@stamp_duty.percentage_tax, precision: 1)) %></p>
  <p class="rendered-from-js stamp-duty__results-tax-rate"><%= I18n.t("stamp_duty.results.sentence_prefix") %> {{ stampDuty.percentageTax() | number: 1 }}<%= I18n.t("stamp_duty.results.sentence_suffix") %></p>

  <div>
    <a href="#" class="rendered-from-js expander expander--nudge" ng-class="{ 'expander--expanded' : expandedStampDutyInformation }" ng-click="toggleStampDutyExpanded($event)" affects-height="click">
      <%= I18n.t("stamp_duty.how_calculated_toggle") %>
      <span class="visually-hidden"><%= I18n.t("stamp_duty.results.click_to_expand") %></span>
    </a>
    <%= render 'stamp_duty_tip' %>
  </div>
</div>
