<div>
  <h2 class="callout__heading">
    <div ng-hide="js">
      <% key = @stamp_duty.second_home ? 'second_title' : 'title' %>
      <%= I18n.t("stamp_duty.results.#{key}") %>
    </div>
    <div class="hidden-unless-js">
      <span ng-if="stampDuty.isSecondHome"><%= I18n.t("stamp_duty.results.second_title") %></span>
      <span ng-if="!stampDuty.isSecondHome"><%= I18n.t("stamp_duty.results.title") %></span>
    </div>
  </h2>
  <%= render 'stamp_duty_payment' %>


  <p>
    <a href="#" class="rendered-from-js expander expander--nudge" ng-class="{ 'expander--expanded' : expandedStampDutyInformation }" ng-click="toggleStampDutyExpanded($event)" affects-height="click">
      <%= I18n.t("stamp_duty.how_calculated_toggle") %>
      <span class="visually-hidden"><%= I18n.t("stamp_duty.results.click_to_expand") %></span>
    </a>
  </p>
  <%= render 'stamp_duty_tip' %>
</div>

