<div class="mortgagecalc__container">
  <%= render 'header' %>

  <%= render 'calc_left_panel' %>
  <%= render 'calc_right_panel' %>
  <%= render 'stamp_duty_tip' %>

  <%= render 'caveat' %>

  <%= render 'seo_links' %>
</div>
