

<%= render 'header' %>
  <%= render 'calc_left_panel' %>
  <%= render 'calc_right_panel' %>
  <%= render 'bands_table' %>
<%= render 'caveat' %>

<div class="mortgagecalc__feedback"><%= zendesk_feedback_tab(zendesk_stamp_duty_config) %></div>
