<div ng-controller="CalculatorCtrl" class="mortgagecalc__container">
  <%= render 'header' %>

  <% @stamp_duty.errors.full_messages.each do |m| %>
    <span style="color:red;"><%= m %></span>
  <% end %>

  <div wizard on-finish="finishedWizard()" hide-indicators='true'>
    <div wz-step class="ng-hide">
      <%= render 'form_step1' %>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <%= render 'calc_left_panel' %>
        <%= render 'calc_right_panel' if @stamp_duty.valid? %>


        <%= render 'stamp_duty_tip' %>

      </div>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <%= render 'next_steps_content' %>
      </div>
    </div>
  </div>

  <%= render 'caveat' %>
</div>
