<!DOCTYPE html>
<html class='no-js'>
<head>
  <title>Dummy</title>
  <%= javascript_include_tag :modernizr %>
  <%= yield :head if content_for?(:head) %>
  <%= yield :analytics if content_for(:analytics) %>
</head>
<body>

<%= yield :tool_heading if content_for(:tool_heading) %>

<%= yield :tool_content %>

</body>
</html>
