<!DOCTYPE html>
<html class='no-js' lang="<%= I18n.locale %>">
<head>
  <title>Dummy</title>
  <%= javascript_include_tag :modernizr %>
  <%= yield :head if content_for?(:head) %>
  <%= yield :analytics if content_for?(:analytics) %>
</head>
<body class="locale-<%= I18n.locale %>">

<%= yield :engine_content %>

</body>
</html>
