<%= form_for @affordability, builder: Dough::Forms::Builders::Validation, url: step_3_affordability_path, html: { name: 'affordability_form', role: 'form', novalidate: '' } do |f| %>
  <% @affordability.people.each_with_index do |person, index| %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][annual_income]", person.annual_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.annual", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][extra_income]", person.extra_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.extra", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][monthly_net_income]", person.monthly_net_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.net_pay", 'ng-initial' => '' %>
  <% end %>

  <% f.validates @affordability, @affordability.outgoings %>

  <div class="affcalc__col--clip">
    <h2><%= t("affordability.title") %></h2>

    <%= f.validation_summary %>

    <h3><%= t("affordability.titles.monthly_outgoings") %></h3>

    <p><%= t("affordability.input_page.monthly_outgoings_descriptions_html") %></p>
    <p><strong><%= t("affordability.input_page.monthly_outgoings_descriptions_2_html") %></strong></p>

    <p><%= t("affordability.input_page.outgoings_second_person") %></p>
  </div>

  <div class="affcalc__col">
    <h4><%= I18n.t("affordability.titles.estimated_committed") %></h4>
  </div>

  <%= f.fields_for :outgoings, @affordability.outgoings do |outgoings| %>

  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:credit_repayments) %>">
        <%= outgoings.errors_for outgoings.object, :credit_repayments %>
        <%= outgoings.label :credit_repayments, "id" => "label_credit_repayments" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_credit_repayments_a">&pound;</span>
            <%= outgoings.text_field :credit_repayments,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.credit_repayments",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_credit_repayments label_credit_repayments_a label_credit_repayments_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_credit_repayments",
                              "value" => outgoings.object.credit_repayments_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_credit_repayments_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.credit_repayments_html"),
            html: {
              id: 'tip_credit_repayments'
            }
        %>
      </div>
    </div>

  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:child_maintenance) %>">
        <%= outgoings.errors_for outgoings.object, :child_maintenance %>
        <%= outgoings.label :child_maintenance, "id" => "label_child_maintenance" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_child_maintenance_a">&pound;</span>
            <%= outgoings.text_field :child_maintenance,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.child_maintenance",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_child_maintenance label_child_maintenance_a label_child_maintenance_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_child_maintenance",
                              "value" => outgoings.object.child_maintenance_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_child_maintenance_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.child_maintenance_html"),
            html: {
              id: 'tip_child_maintenance'
            }
        %>
      </div>
    </div>

<div class="affcalc__col">
  <h4><%= I18n.t("affordability.titles.estimated_fixed") %></h4>
</div>

<div class="affcalc__row">
  <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:childcare) %>">
        <%= outgoings.errors_for outgoings.object, :childcare %>
        <%= outgoings.label :childcare, "id" => "label_childcare" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_childcare_a">&pound;</span>
            <%= outgoings.text_field :childcare,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.childcare",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_childcare label_childcare_a label_childcare_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_childcare",
                              "value" => outgoings.object.childcare_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_childcare_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.childcare_html"),
            html: {
              id: 'tip_childcare'
            }
        %>
      </div>
    </div>
  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:travel) %>">
        <%= outgoings.errors_for outgoings.object, :travel %>
        <%= outgoings.label :travel, "id" => "label_travel" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_travel_a">&pound;</span>
            <%= outgoings.text_field :travel,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.travel",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_travel label_travel_a label_travel_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_travel",
                              "value" => outgoings.object.travel_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_travel_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.travel_html"),
            html: {
              id: 'tip_travel'
            }
        %>
      </div>
    </div>
  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:utilities) %>">
        <%= outgoings.errors_for outgoings.object, :utilities %>
        <%= outgoings.label :utilities, "id" => "label_utilities" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_utilities_a">&pound;</span>
            <%= outgoings.text_field :utilities,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.utilities",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_utilities label_utilities_a label_utilities_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_utilities",
                              "value" => outgoings.object.utilities_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_utilities_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.utilities_html"),
            html: {
              id: 'tip_utilities'
            }
        %>
      </div>
    </div>
  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:rent_and_mortgage) %>">
        <%= outgoings.errors_for outgoings.object, :rent_and_mortgage %>
        <%= outgoings.label :rent_and_mortgage, "id" => "label_rent_and_mortgage" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_rent_and_mortgage_a">&pound;</span>
            <%= outgoings.text_field :rent_and_mortgage,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.rent_and_mortgage",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_rent_and_mortgage label_rent_and_mortgage_a label_rent_and_mortgage_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_rent_and_mortgage",
                              "value" => outgoings.object.rent_and_mortgage_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_rent_and_mortgage_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
          </div>
        </div>
        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.rent_and_mortgage_html"),
              html: {
                id: 'tip_rent_and_mortgage'
              }
          %>
        </div>
      </div>

  <div class="affcalc__col">
    <h3><%= I18n.t("affordability.titles.estimated_lifestyle") %></h3>
    <p><%= t "affordability.input_page.living_costs_description" %></p>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--field">
      <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:entertainment) %>">
        <%= outgoings.errors_for outgoings.object, :entertainment %>
        <%= outgoings.label :entertainment, "id" => "label_entertainment" %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_entertainment_a">&pound;</span>
            <%= outgoings.text_field :entertainment,
                              "class" => "form-control form__input",
                              "ng-model" => "affordability.outgoings.entertainment",
                              "ng-initial" => "",
                              "aria-labelledby" => "label_entertainment label_entertainment_a label_entertainment_b",
                              "currency" => '',
                              "placeholder" => "0",
                              "data-m-dec" =>"0",
                              "aria-describedby" => "tip_entertainment",
                              "value" => outgoings.object.entertainment_formatted,
                              "pattern" => '\d*' %>
            <span class="form__input-label" id="label_entertainment_b"><%= t("affordability.per_month") %></span>
            <span class="form__input-outline"></span>
          </span>
        </div>
      </div>
      <div class="affcalc__col--tooltip">
        <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.entertainment_html"),
            html: {
              id: 'tip_entertainment'
            }
        %>
      </div>
    </div>

    <div class="affcalc__row">
      <div class="affcalc__col--field">
        <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:holidays) %>">
          <%= outgoings.errors_for outgoings.object, :holidays %>
          <%= outgoings.label :holidays, "id" => "label_holidays" %>

          <span class="form__input-container">
            <span class="form__input-label" id="label_holidays_a">&pound;</span>
              <%= outgoings.text_field :holidays,
                                "class" => "form-control form__input",
                                "ng-model" => "affordability.outgoings.holidays",
                                "ng-initial" => "",
                                "aria-labelledby" => "label_holidays label_holidays_a label_holidays_b",
                                "currency" => '',
                                "placeholder" => "0",
                                "data-m-dec" =>"0",
                                "aria-describedby" => "tip_holidays",
                                "value" => outgoings.object.holidays_formatted,
                                "pattern" => '\d*' %>
              <span class="form__input-label" id="label_holidays_b"><%= t("affordability.per_month") %></span>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>
        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.holidays_html"),
              html: {
                id: 'tip_holidays'
              }
          %>
        </div>
      </div>


    <div class="affcalc__row">
      <div class="affcalc__col--field">
        <div class="form__row <%= 'form__row--is-errored' if outgoings.object.errors.include?(:food) %>">
          <%= outgoings.errors_for outgoings.object, :food %>
          <%= outgoings.label :food, "id" => "label_food" %>

          <span class="form__input-container">
            <span class="form__input-label" id="label_food_a">&pound;</span>
              <%= outgoings.text_field :food,
                                "class" => "form-control form__input",
                                "ng-model" => "affordability.outgoings.food",
                                "ng-initial" => "",
                                "aria-labelledby" => "label_food label_food_a label_food_b",
                                "currency" => '',
                                "placeholder" => "0",
                                "data-m-dec" =>"0",
                                "aria-describedby" => "tip_food",
                                "value" => outgoings.object.food_formatted,
                                "pattern" => '\d*' %>
              <span class="form__input-label" id="label_food_b"><%= t("affordability.per_month") %></span>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>
        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/outgoings.food_html"),
              html: {
                id: 'tip_food'
              }
          %>
        </div>
      </div>
  <% end %>

  <div class="affcalc__col">
    <div class="form__row">
      <p><%= link_to t("affordability.back"), step_1_affordability_path, class: "button mortgagecalc__submit mortgagecalc__submit--flow previous" %>

      <%= f.submit I18n.t("affordability.input_page.submit"),
             class: "button button--primary mortgagecalc__submit mortgagecalc__submit--flow" %>
      </p>
    </div>
  </div>
<% end %>
