<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <h3><%= t "affordability.titles.what_you_might_be_offered" %></h3>
</div>

<%= form_for @affordability, url: step_3_affordability_path, html: { name: 'affordability_form', role: 'form', class: 'step_two' } do |f| %>
  <% @affordability.people.each_with_index do |person, index| %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][annual_income]", person.annual_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.annual", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][extra_income]", person.extra_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.extra", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][monthly_net_income]", person.monthly_net_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.net_pay", 'ng-initial' => '' %>
  <% end %>

  <% @affordability.outgoings.serializable_hash.each do |k,v| %>
    <%= hidden_field_tag "affordability[outgoings][#{k}]", v, 'ng-model' => "affordability.outgoings.#{k}", 'ng-initial' => '' %>
  <% end %>

  <div class="mortgagecalc__panel mortgagecalc__panel--full mortgagecalc__panel--border" calculate>
    <%= render 'mortgage_calculator/affordabilities/form/offered_amount' %>
    <%= render 'mortgage_calculator/affordabilities/form/borrowing', f: f %>
  </div>

  <div class="mortgagecalc__panel">
    <%= render 'mortgage_calculator/affordabilities/form/annual_interest_rate', f: f %>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <%= render 'mortgage_calculator/affordabilities/form/monthly_mortgage_repayment' %>

    <%= t "affordability.caveat.estimate" %>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full mortgagecalc__panel--border">
    <h3><%= t "affordability.titles.how_affect_budget" %></h3>

    <% if @affordability.only_rent_and_mortgage_warning? %>
      <%= inset_block(I18n.t("affordability.warnings.only_rent_and_mortgage_html").html_safe) %>
    <% elsif @affordability.missing_fixed_and_committed_costs_warning? %>
      <%= inset_block(I18n.t("affordability.warnings.missing_fixed_and_committed_costs_html").html_safe) %>
    <% end %>

    <%= render 'mortgage_calculator/affordabilities/form/committed_costs' %>
    <%= render 'mortgage_calculator/affordabilities/form/take_home_pay' %>
    <%= render "budget_scenarios" %>
  </div>

  <div class="mortgagecalc__panel">
    <%= render 'mortgage_calculator/affordabilities/form/risk_chart' %>
  </div>

  <div class="mortgagecalc__panel">
    <%= render 'mortgage_calculator/affordabilities/form/risk_information' %>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full mortgagecalc__panel--border">
    <h3><%= t "affordability.titles.can_afford" %></h3>

    <% if @affordability.missing_lifestyle_costs_warning? %>
      <%= inset_block(I18n.t("affordability.warnings.missing_lifestyle_costs_html").html_safe) %>
    <% end %>

    <%= render "mortgage_calculator/affordabilities/form/remaining_vector" %>
  </div>

  <div class="mortgagecalc__panel" calculate>
    <p>
      <%= f.label :lifestyle_costs %>
      <%= f.text_field :lifestyle_costs,
                       class: 'dynamic-slider-property',
                       "currency" => '',
                       "data-a-sign" =>"£",
                       "data-m-dec" => "0",
                       "ng-model" => "affordability.lifestyleSpend",
                       "placeholder" => "Lifestyle Spend",
                       "pattern" => '\d*',
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Affordability Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Lifestyle' %>
    </p>
    <div class="slider"
         id="slider-lifestyle"
         ui-slider
         dynamic-for='dynamic-slider-property'
         percentage-for-minimum="20"
         percentage-for-maximum="200"
         ng-model="affordability.lifestyleSpend"
         aria-labelledby="label_price"
         analytics-category="Affordability Calculator"
         analytics-action="Refinement"
         analytics-label="Lifestyle">
    </div>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <%= render 'mortgage_calculator/affordabilities/form/estimated_remaining' %>

    <h3><%= t "affordability.interest_changer.title" %></h3>
    <%= render 'mortgage_calculator/affordabilities/form/interest_changes' %>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("affordability.recalculate"), class: "button" %></p>
  </div>

  <div class="mortgagecalc__panel">
    <p>
      <a href="javascript:window.history.go(-1);" class='button mortgagecalc__submit mortgagecalc__submit--flow previous rendered-from-js'><%= t "affordability.back" %></a>
    </p>
  </div>
<% end %>

