<div class="affcalc__col">
  <h2><%= I18n.t("affordability.title") %></h2>
</div>

<%= form_for @affordability, builder: Dough::Forms::Builders::Validation, url: localize_route("step_3_affordability_path"), html: { name: 'affordability_form', role: 'form', class: 'step_two', novalidate: '', "ng-no-submit" => "" } do |f| %>
  <% @affordability.people.each_with_index do |person, index| %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][annual_income]", person.annual_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.annual", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][extra_income]", person.extra_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.extra", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][monthly_net_income]", person.monthly_net_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.net_pay", 'ng-initial' => '' %>
  <% end %>

  <% @affordability.outgoings.serializable_hash.each do |k,v| %>
    <%= hidden_field_tag "affordability[outgoings][#{k}]", v, 'ng-model' => "affordability.outgoings.#{k}", 'ng-initial' => '' %>
  <% end %>

  <div class="affcalc__row affcalc__row--slider">
    <div class="affcalc__col--clip" calculate>

      <%= f.validation_summary %>

      <div ng-docker ng-docked="docked" ng-cloak control="dockerControl">
        <%= render 'mortgage_calculator/affordabilities/form/offered_amount' %>
        <%= render 'mortgage_calculator/affordabilities/form/borrowing', f: f %>
      </div>
    </div>
  </div>

  <div class="affcalc__row affcalc__row--slider">
    <div class="affcalc__col--clip">
      <%= render 'mortgage_calculator/affordabilities/form/term_years', f: f %>
      
        <div class="tooltip tooltip--onfocus tooltip--boxout tooltip--push-top" ng-tooltip ng-cloak data-tooltip-persist="true" role="tooltip" id="term_years_tip">
          <div class="tooltip__content-container">
            <h4 class="tooltip__title"><%= t("affordability.tooltips.mortgage_calculator/results.title") %></h4>
            <p class="tooltip__text"><%= t("affordability.tooltips.mortgage_calculator/results.term_years") %></p>
            <a class="tooltip__link" href="#affcalc-summary">
              <span class="risk--show-on-low">
                <%= t("affordability.tooltips.mortgage_calculator/results.link_text_low") %>
              </span>
              <span class="risk--show-on-medium">
                <%= t("affordability.tooltips.mortgage_calculator/results.link_text_medium") %>
              </span>
              <span class="risk--show-on-high">
                <%= t("affordability.tooltips.mortgage_calculator/results.link_text_high") %>
              </span>
            </a>
          </div>
        </div>
    </div>
  </div>

  <div class="affcalc__row affcalc__row--slider">
    <div class="affcalc__col--clip">
      <%= render 'mortgage_calculator/affordabilities/form/annual_interest_rate', f: f %>
    </div>
  </div>

  <div class="hide-with-js affcalc__row">
    <div class="affcalc__col--clip">
      <p><%= f.submit I18n.t("affordability.recalculate"), class: "button" %></p>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <%= render 'mortgage_calculator/affordabilities/form/monthly_mortgage_repayment' %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <h3 class="affcalc__anchor-header-offset" id="affcalc-summary"><%= t "affordability.titles.how_affect_budget" %></h3>

      <% if @affordability.only_rent_and_mortgage_warning? %>
        <%= inset_block(t("affordability.warnings.only_rent_and_mortgage_html",
                          back: link_to(t("affordability.go_back"), localize_route("step_2_affordability_path")))) %>
      <% elsif @affordability.missing_fixed_and_committed_costs_warning? %>
        <%= inset_block(t("affordability.warnings.missing_fixed_and_committed_costs_html",
                          back: link_to(t("affordability.go_back"), localize_route("step_2_affordability_path")))) %>
      <% end %>

      <%= render 'mortgage_calculator/affordabilities/form/committed_costs' %>
      <%= render 'mortgage_calculator/affordabilities/form/take_home_pay' %>
      <%= render "budget_scenarios" %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <div class="affcalc__col--50">
        <%= render 'mortgage_calculator/affordabilities/form/risk_chart' %>
      </div>

      <div class="affcalc__col--50">
        <%= render 'mortgage_calculator/affordabilities/form/risk_information' %>
      </div>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <h3><%= t "affordability.titles.can_afford" %></h3>

      <% if @affordability.missing_lifestyle_costs_warning? %>
        <%= inset_block(t("affordability.warnings.missing_lifestyle_costs_html",
                          back: link_to(t("affordability.go_back"), localize_route("step_2_affordability_path")))) %>
      <% end %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--33" calculate>
      <%= f.form_row do %>
        <%= f.label :lifestyle_costs, "id" => "label_lifestyle" do %>
          <%= t("affordability.activemodel.attributes.mortgage_calculator/affordability.lifestyle_costs")%>
          <span class="visually-hidden"><%= t("affordability.per_month") %></span>
        <% end %>

        <span class="form__input-container">
          <span class="form__input-label" id="label_lifestyle_a">&pound;</span>
            <%= f.text_field :lifestyle_costs,
                             :value => @affordability.lifestyle_costs_formatted,
                             class: 'dynamic-slider-property form__input',
                             "currency" => '',
                             "placeholder" => "0",
                             "data-m-dec" => "0",
                             "ng-model" => "affordability.lifestyleSpend",
                             "pattern" => '\d*',
                             "aria-labelledby" => "label_lifestyle label_lifestyle_a label_lifestyle_b",
                             "analytics" => '',
                             "analytics-on" => 'change',
                             "analytics-category" => 'Affordability Calculator',
                             "analytics-action" => 'Refinement',
                             "analytics-label" => 'Lifestyle' %>
          <span class="form__input-label" id="label_lifestyle_b"><%= t("affordability.per_month") %></span>
          <span class="form__input-outline"></span>
        </span>
        <div class="slider"
             id="slider-lifestyle"
             ui-slider
             dynamic-for='dynamic-slider-property'
             percentage-for-minimum="20"
             percentage-for-maximum="200"
             custom-slider-max="250"
             ng-model="affordability.lifestyleSpend"
             aria-labelledby="label_lifestyle label_lifestyle_a"
             analytics-category="Affordability Calculator"
             analytics-action="Refinement"
             analytics-label="Lifestyle">
        </div>
      <% end %>
    </div>
  </div>

  <div class="hide-with-js affcalc__row">
    <div class="affcalc__col--clip">
      <p><%= f.submit I18n.t("affordability.recalculate"), class: "button" %></p>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <%= render 'mortgage_calculator/affordabilities/form/estimated_remaining' %>

      <%= render "mortgage_calculator/affordabilities/form/remaining_vector" %>

      <h3><%= t "affordability.interest_changer.title" %></h3>
      <%= render 'mortgage_calculator/affordabilities/form/interest_changes' %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip">
      <p>
        <%= link_to t("affordability.back"), localize_route("step_2_affordability_path"), class: "button mortgagecalc__submit mortgagecalc__submit--flow previous" %>

        <%= link_to t("affordability.next_steps_btn"), localize_route("next_steps_affordability_path"), class: "button button--primary" %>
      </p>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip">
      <%= inset_block(t "affordability.caveat.estimate") %>
    </div>
  </div>
<% end %>
