<div class="affcalc__col">
  <h2><%= I18n.t("affordability.title") %></h2>
  <h3><%= t "affordability.titles.what_you_might_be_offered" %></h3>
</div>

<%= form_for @affordability, url: step_3_affordability_path, html: { name: 'affordability_form', role: 'form', class: 'step_two', novalidate: '' } do |f| %>
  <% @affordability.people.each_with_index do |person, index| %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][annual_income]", person.annual_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.annual", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][extra_income]", person.extra_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.extra", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][monthly_net_income]", person.monthly_net_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.net_pay", 'ng-initial' => '' %>
  <% end %>

  <% @affordability.outgoings.serializable_hash.each do |k,v| %>
    <%= hidden_field_tag "affordability[outgoings][#{k}]", v, 'ng-model' => "affordability.outgoings.#{k}", 'ng-initial' => '' %>
  <% end %>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" calculate>
      <div ng-docker ng-cloak>
        <%= render 'mortgage_calculator/affordabilities/form/offered_amount' %>
        <%= render 'mortgage_calculator/affordabilities/form/borrowing', f: f %>
      </div>
    </div>
  </div>

  <%= render 'mortgage_calculator/affordabilities/form/annual_interest_rate', f: f %>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <%= render 'mortgage_calculator/affordabilities/form/monthly_mortgage_repayment' %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <h3><%= t "affordability.titles.how_affect_budget" %></h3>
      <h4><%= t("affordability.titles.fix_and_committed_costs") %></h4>

      <% if @affordability.only_rent_and_mortgage_warning? %>
        <%= inset_block(t("affordability.warnings.only_rent_and_mortgage_html",
                          back: link_to(t("affordability.go_back"), step_2_affordability_path))) %>
      <% elsif @affordability.missing_fixed_and_committed_costs_warning? %>
        <%= inset_block(t("affordability.warnings.missing_fixed_and_committed_costs_html",
                          back: link_to(t("affordability.go_back"), step_2_affordability_path))) %>
      <% end %>

      <%= render 'mortgage_calculator/affordabilities/form/committed_costs' %>
      <%= render 'mortgage_calculator/affordabilities/form/take_home_pay' %>
      <%= render "budget_scenarios" %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <div class="affcalc__col--50">
        <%= render 'mortgage_calculator/affordabilities/form/risk_chart' %>
      </div>

      <div class="affcalc__col--50">
        <%= render 'mortgage_calculator/affordabilities/form/risk_information' %>
      </div>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <h3><%= t "affordability.titles.can_afford" %></h3>
      <h4><%= t "affordability.titles.living_costs" %></h4>

      <% if @affordability.missing_lifestyle_costs_warning? %>
        <%= inset_block(t("affordability.warnings.missing_lifestyle_costs_html",
                          back: link_to(t("affordability.go_back"), step_2_affordability_path))) %>
      <% end %>

      <%= render "mortgage_calculator/affordabilities/form/remaining_vector" %>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--33" calculate>
      <%= f.label :lifestyle_costs,
          "id" => "label_lifestyle" %>
      <%= f.text_field :lifestyle_costs,
                       :value => @affordability.lifestyle_costs_formatted,
                       class: 'dynamic-slider-property',
                       "currency" => '',
                       "placeholder" => "£0",
                       "data-a-sign" =>"£",
                       "data-m-dec" => "0",
                       "ng-model" => "affordability.lifestyleSpend",
                       "pattern" => '\d*',
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Affordability Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Lifestyle' %>
      <div class="slider"
           id="slider-lifestyle"
           ui-slider
           dynamic-for='dynamic-slider-property'
           percentage-for-minimum="20"
           percentage-for-maximum="200"
           custom-slider-max="250"
           ng-model="affordability.lifestyleSpend"
           aria-labelledby="label_lifestyle"
           analytics-category="Affordability Calculator"
           analytics-action="Refinement"
           analytics-label="Lifestyle">
      </div>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip" ng-cloak>
      <%= render 'mortgage_calculator/affordabilities/form/estimated_remaining' %>

      <h3><%= t "affordability.interest_changer.title" %></h3>
      <%= render 'mortgage_calculator/affordabilities/form/interest_changes' %>
    </div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("affordability.recalculate"), class: "button" %></p>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip">
      <p>
        <%= link_to t("affordability.back"), step_2_affordability_path, class: "button mortgagecalc__submit mortgagecalc__submit--flow previous rendered-from-js" %>

        <%= link_to t("affordability.next"), next_steps_affordability_path, class: "button" %>
      </p>
    </div>
  </div>

  <div class="affcalc__row">
    <div class="affcalc__col--clip">
      <%= inset_block(t "affordability.caveat.estimate") %>
    </div>
  </div>
<% end %>

