<%= form_for @affordability, builder: Dough::Forms::Builders::Validation, url: step_2_affordability_path, html: { name: 'affordability_form', role: 'form' } do |f| %>
  <% f.validates @affordability, @affordability.people.first, @affordability.people.last %>

  <div class="mortgagecalc__panel">
    <%= f.validation_summary %>

    <h3><%= I18n.t("affordability.titles.annual_income") %></h3>
    <%= f.fields_for :people do |person| %>
      <% count = @affordability.people.find_index(person.object) %>

      <% if count == 0 %>
        <div class="form__item">
          <%= f.errors_for person.object, :annual_income %>
          <%= person.label :annual_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.annual_income_0") %>
          <%= person.text_field :annual_income,
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person1.annual",
                                "placeholder" => "Your yearly income",
                                "autofocus" => "",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.annual_income_formatted %>

          <%= f.errors_for person.object, :extra_income %>
          <%= person.label :extra_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.extra_income_0") %>
          <%= person.text_field :extra_income,
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person1.extra",
                                "placeholder" => "Any extra income",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.extra_income_formatted %>
        </div>
      <% else %>
        <div class="form__item">
          <input type="checkbox" ng-model="affordability.selectedOption" ng-true-value="1" ng-false-value="0" value="1" name="two_applicants" id="second_applicant">
          <label class="label--inline" for="second_applicant"><%= I18n.t("affordability.titles.second_applicant") %></label>
        </div>

        <div class="form__item" ng-class="{ 'is-hidden' : !isCheckboxSelected('1') }">
          <%= f.errors_for person.object, :annual_income %>
          <%= person.label :annual_income do %>
            <%= I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.annual_income_1") %>
          <% end %>

          <%= person.text_field :annual_income,
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person2.annual",
                                "placeholder" => "Your yearly income",
                                "ng-disabled" => "!isCheckboxSelected('1')",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.annual_income_formatted %>

          <%= f.errors_for person.object, :extra_income %>
          <%= person.label :extra_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.extra_income_1") %>
          <%= person.text_field :extra_income,
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person2.extra",
                                "placeholder" => "Any extra income",
                                'ng-disabled' => "!isCheckboxSelected('1')",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.extra_income_formatted %>
        </div>
      <% end %>
    <% end %>

    <h3><%= I18n.t("affordability.titles.take_home") %></h3>
    <%= f.fields_for :people do |person| %>
      <% count = @affordability.people.find_index(person.object) %>
      <% person.object_name = "affordability[people_attributes][#{count}]" %>

      <% if count == 0 %>
        <div class="form__item">
          <%= f.errors_for person.object, :monthly_net_income %>
          <%= person.label :monthly_net_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.monthly_net_income_0") %>
          <%= person.text_field :monthly_net_income,
                                "class" => "form-control",
                                "placeholder" => "Monthly Net Income",
                                "ng-model" => "affordability.earnings.person1.net_pay",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.monthly_net_income_formatted %>
        </div>
      <% else %>
        <div class="form__item" ng-class="{ 'is-hidden' : !isCheckboxSelected('1') }">
          <%= f.errors_for person.object, :monthly_net_income %>
          <%= person.label :monthly_net_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.monthly_net_income_1") %>
          <%= person.text_field :monthly_net_income,
                                "class" => "form-control",
                                "placeholder" => "Monthly Net Income",
                                'ng-disabled' => "!isCheckboxSelected('1')",
                                "ng-model" => "affordability.earnings.person2.net_pay",
                                "currency" => '',
                                "data-a-sign" =>"£",
                                "data-m-dec" =>"0",
                                "value" => person.object.monthly_net_income_formatted %>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="mortgagecalc__panel mortgagecalc__panel--full">

    <div class="form__item">
      <%= f.submit I18n.t("affordability.input_page.submit"),
             class: "button button--primary mortgagecalc__submit mortgagecalc__submit--flow" %>
   </div>
  </div>
<% end %>
