<%= form_for @affordability, builder: Dough::Forms::Builders::Validation, url: step_2_affordability_path, html: { name: 'affordability_form', role: 'form', novalidate: '' } do |f| %>
  <% f.validates @affordability, @affordability.people[0], @affordability.people[1] %>

  <div class="affcalc__col--clip">
    <%= f.validation_summary %>
  </div>

  <div class="affcalc__col">
    <h3><%= I18n.t("affordability.titles.annual_income") %></h3>
  </div>

  <%= f.fields_for :people do |person| %>
    <% index = @affordability.people.find_index(person.object) %>

    <%# render the first applicant differently to the additional applicants %>
    <% if index == 0 %>
      <div class="affcalc__row">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:annual_income) %>">
            <%= person.label :annual_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.annual_income_0"), "id" => "label_annual_income0" %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_annual_income0a">&pound;</span>
                <%= f.errors_for person.object, :annual_income %>
                <%= person.text_field :annual_income,
                                      "class" => "form-control form__input",
                                      "ng-model" => "affordability.earnings.person0.annual",

                                      "ng-initial" => "",
                                      "autofocus" => "",
                                      "currency" => '',
                                      "placeholder" => "£0",
                                      "data-m-dec" =>"0",
                                      "aria-describedby" => "tip_annual_income_0",
                                      "aria-labelledby" => "label_annual_income0 label_annual_income0a",
                                      "value" => person.object.annual_income_formatted,
                                      "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>

        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.annual_income_0_html"),
                html: {
                  id: 'tip_annual_income_0'
                }
            %>
        </div>
      </div>

      <div class="affcalc__row">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:extra_income) %>">
            <%= f.errors_for person.object, :extra_income %>
            <%= person.label :extra_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.extra_income_0"), "id" => "label_extra_income0" %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_extra_income0a">&pound;</span>
              <%= person.text_field :extra_income,
                                    "class" => "form-control form__input",
                                    "ng-model" => "affordability.earnings.person0.extra",
                                    "ng-initial" => "",
                                    "currency" => '',
                                    "placeholder" => "£0",
                                    "data-m-dec" =>"0",
                                    "aria-describedby" => "tip_extra_income_0",
                                    "aria-labelledby" => "label_extra_income0 label_extra_income0a",
                                    "value" => person.object.extra_income_formatted,
                                    "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>
        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.extra_income_0_html"),
              html: {
                id: 'tip_extra_income_0'
              }
          %>
        </div>
      </div>
    <% else %>

      <div class="affcalc__row">
        <div class="affcalc__col">
          <div class="rendered-from-js form__row">
            <%= f.label :two_applicants,
                        class: "label--inline" do %>
              <%= f.check_box :two_applicants,
                              "ng-model" => "affordability.selectedOption",
                              "ng-initial" => @affordability.two_applicants? ? "1" : "0",
                              "ng-initial-as-string" => "true",
                              "ng-true-value" => "1",
                              "ng-false-value" => "0",
                              "value" => "1",
                              "name" => "affordability[two_applicants]",
                              :checked => @affordability.two_applicants? %>
              <%= I18n.t("affordability.titles.second_applicant") %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="affcalc__row" ng-class="{ 'is-hidden' : !isCheckboxSelected('1') }">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:annual_income) %>">
            <%= f.errors_for person.object, :annual_income %>
            <%= person.label :annual_income, "id" => "label_annual_income1" do %>
              <%= I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.annual_income_1") %>
            <% end %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_annual_income1a">&pound;</span>
              <%= person.text_field :annual_income,
                                    "class" => "form-control form__input",
                                    "ng-model" => "affordability.earnings.person1.annual",
                                    "ng-initial" => "",
                                    "ng-disabled" => "!isCheckboxSelected('1')",
                                    "currency" => '',
                                    "placeholder" => "£0",
                                    "data-m-dec" =>"0",
                                    "aria-describedby" => "tip_annual_income_1",
                                    "aria-labelledby" => "label_annual_income1 label_annual_income1a",
                                    "value" => person.object.annual_income_formatted,
                                    "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>

        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.annual_income_1"),
              html: {
                id: 'tip_annual_income_1'
              }
          %>
        </div>
      </div>

      <div class="affcalc__row" ng-class="{ 'is-hidden' : !isCheckboxSelected('1') }">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:extra_income) %>">
            <%= f.errors_for person.object, :extra_income %>
            <%= person.label :extra_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.extra_income_1"), "id" => "label_extra_income_1" %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_extra_income_1a">&pound;</span>
              <%= person.text_field :extra_income,
                                    "class" => "form-control form__input",
                                    "ng-model" => "affordability.earnings.person1.extra",
                                    "ng-initial" => "",
                                    'ng-disabled' => "!isCheckboxSelected('1')",
                                    "currency" => '',
                                    "placeholder" => "£0",
                                    "data-m-dec" =>"0",
                                    "aria-describedby" => "tip_extra_income_1",
                                    "aria-labelledby" => "label_extra_income_1 label_extra_income_1a",
                                    "value" => person.object.extra_income_formatted,
                                    "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>

        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.extra_income_1"),
              html: {
                id: 'tip_extra_income_1'
              }
          %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="affcalc__col">
    <h3><%= I18n.t("affordability.titles.take_home") %></h3>
  </div>

  <%= f.fields_for :people do |person| %>
    <% index = @affordability.people.find_index(person.object) %>
    <% person.object_name = "affordability[people_attributes][#{index}]" %>

    <%# render the first applicant differently to the additional applicants %>
    <% if index == 0 %>
      <div class="affcalc__row">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:monthly_net_income) %>">
            <%= f.errors_for person.object, :monthly_net_income %>
            <%= person.label :monthly_net_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.monthly_net_income_0"), "id" => "label_monthly_net_income_0" %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_monthly_net_income_0a">&pound;</span>
              <%= person.text_field :monthly_net_income,
                                    "class" => "form-control form__input",
                                    "ng-model" => "affordability.earnings.person0.net_pay",
                                    "ng-initial" => "",
                                    "currency" => '',
                                    "placeholder" => "£0",
                                    "aria-describedby" => "tip_monthly_net_income_0",
                                    "aria-labelledby" => "label_monthly_net_income_0 label_monthly_net_income_0a",
                                    "value" => person.object.monthly_net_income_formatted,
                                    "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>

        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.monthly_net_income_0"),
              html: {
                id: 'tip_monthly_net_income_0'
              }
          %>
        </div>
      </div>
    <% else %>
      <div class="affcalc__row" ng-class="{ 'is-hidden' : !isCheckboxSelected('1') }">
        <div class="affcalc__col--field">
          <div class="form__row <%= 'form__row--is-errored' if person.object.errors.include?(:monthly_net_income) %>">
            <%= f.errors_for person.object, :monthly_net_income %>
            <%= person.label :monthly_net_income, I18n.t("affordability.activemodel.attributes.mortgage_calculator/person.monthly_net_income_1"), "id" => "label_monthly_net_income_1" %>

            <span class="form__input-container">
              <span class="form__input-label" id="label_monthly_net_income_1a">&pound;</span>
              <%= person.text_field :monthly_net_income,
                                    "class" => "form-control form__input",
                                    'ng-disabled' => "!isCheckboxSelected('1')",
                                    "ng-model" => "affordability.earnings.person1.net_pay",
                                    "ng-initial" => "",
                                    "currency" => '',
                                    "placeholder" => "£0",
                                    "aria-describedby" => "tip_monthly_net_income_1",
                                    "aria-labelledby" => "label_monthly_net_income_1 label_monthly_net_income_1a",
                                    "value" => person.object.monthly_net_income_formatted,
                                    "pattern" => '\d*' %>
              <span class="form__input-outline"></span>
            </span>
          </div>
        </div>

        <div class="affcalc__col--tooltip">
          <%= field_tooltip text: t("affordability.tooltips.mortgage_calculator/person.monthly_net_income_1"),
              html: {
                id: 'tip_monthly_net_income_1'
              }
          %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="affcalc__col">
    <div class="form__row">
      <%= f.submit I18n.t("affordability.next"),
             class: "button button--primary mortgagecalc__submit mortgagecalc__submit--flow" %>
   </div>
  </div>
<% end %>
