<%= form_for @affordability, builder: Dough::Forms::Builders::Validation, url: step_3_affordability_path, html: { name: 'affordability_form', role: 'form', novalidate: '' } do |f| %>
  <% @affordability.people.each_with_index do |person, index| %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][annual_income]", person.annual_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.annual", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][extra_income]", person.extra_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.extra", 'ng-initial' => '' %>
    <%= hidden_field_tag "affordability[people_attributes][#{index}][monthly_net_income]", person.monthly_net_income.to_s, 'ng-model' => "affordability.earnings.person#{index}.net_pay", 'ng-initial' => '' %>
  <% end %>

  <% f.validates @affordability, @affordability.outgoings %>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <h2><%= I18n.t("affordability.title") %></h2>

    <%= f.validation_summary %>

    <h3><%= I18n.t("affordability.titles.monthly_outgoings") %></h3>

    <p><%= I18n.t("affordability.input_page.monthly_outgoings_descriptions") %></p>
    <p><%= I18n.t("affordability.input_page.outgoings_second_person") %></p>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
  <%= f.fields_for :outgoings, @affordability.outgoings do |outgoings| %>
    <h4><%= I18n.t("affordability.titles.estimated_committed") %></h4>
  </div>

  <div class="mortgagecalc__panel">
    <div class="form__item">
      <%= outgoings.errors_for outgoings.object, :credit_repayments %>
      <%= outgoings.label :credit_repayments %>
      <%= outgoings.text_field :credit_repayments,
                            "class" => "form-control",
                            "placeholder" => "Credit debts",
                            "ng-model" => "affordability.outgoings.credit_repayments",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.credit_repayments_formatted,
                            "pattern" => '\d*' %>
    </div>
    <div class="form__item">
      <%= outgoings.errors_for outgoings.object, :child_maintenance %>
      <%= outgoings.label :child_maintenance %>
      <%= outgoings.text_field :child_maintenance,
                            "class" => "form-control",
                            "placeholder" => "utilities",
                            "ng-model" => "affordability.outgoings.child_maintenance",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.child_maintenance_formatted,
                            "pattern" => '\d*' %>
    </div>
  </div>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <h4><%= I18n.t("affordability.titles.estimated_fixed") %></h4>
  </div>

  <div class="mortgagecalc__panel">
    <div class="form__item">
      <%= outgoings.errors_for outgoings.object, :childcare %>
      <%= outgoings.label :childcare %>
      <%= outgoings.text_field :childcare,
                            "class" => "form-control",
                            "placeholder" => "utilities",
                            "ng-model" => "affordability.outgoings.childcare",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.childcare_formatted,
                            "pattern" => '\d*' %>

      <%= outgoings.errors_for outgoings.object, :travel %>
      <%= outgoings.label :travel %>
      <%= outgoings.text_field :travel,
                            "class" => "form-control",
                            "placeholder" => "Credit debts",
                            "ng-model" => "affordability.outgoings.travel",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.travel_formatted,
                            "pattern" => '\d*' %>
    </div>
    <div class="form__item">
      <%= outgoings.errors_for outgoings.object, :utilities %>
      <%= outgoings.label :utilities %>
      <%= outgoings.text_field :utilities,
                            "class" => "form-control",
                            "placeholder" => "utilities",
                            "ng-model" => "affordability.outgoings.utilities",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.utilities_formatted,
                            "pattern" => '\d*' %>

      <%= outgoings.errors_for outgoings.object, :rent_and_mortgage %>
      <%= outgoings.label :rent_and_mortgage %>
      <%= outgoings.text_field :rent_and_mortgage,
                            "class" => "form-control",
                            "placeholder" => "utilities",
                            "ng-model" => "affordability.outgoings.rent_and_mortgage",
                            "ng-initial" => "",
                            "currency" => '',
                            "data-a-sign" =>"£",
                            "data-m-dec" =>"0",
                            "value" => outgoings.object.rent_and_mortgage_formatted,
                            "pattern" => '\d*' %>
      </div>
    </div>

    <div class="mortgagecalc__panel mortgagecalc__panel--full">
      <h3><%= I18n.t("affordability.titles.estimated_lifestyle") %></h3>
      <p><%= t "affordability.input_page.living_costs_description" %></p>
    </div>

    <div class="mortgagecalc__panel">
      <div class="form__item">
        <%= outgoings.errors_for outgoings.object, :entertainment %>
        <%= outgoings.label :entertainment %>
        <%= outgoings.text_field :entertainment,
                              "class" => "form-control",
                              "placeholder" => "Credit debts",
                              "ng-model" => "affordability.outgoings.entertainment",
                              "ng-initial" => "",
                              "currency" => '',
                              "data-a-sign" =>"£",
                              "data-m-dec" =>"0",
                              "value" => outgoings.object.entertainment_formatted,
                              "pattern" => '\d*' %>

        <%= outgoings.errors_for outgoings.object, :holidays %>
        <%= outgoings.label :holidays %>
        <%= outgoings.text_field :holidays,
                              "class" => "form-control",
                              "placeholder" => "Credit debts",
                              "ng-model" => "affordability.outgoings.holidays",
                              "ng-initial" => "",
                              "currency" => '',
                              "data-a-sign" =>"£",
                              "data-m-dec" =>"0",
                              "value" => outgoings.object.holidays_formatted,
                              "pattern" => '\d*' %>
      </div>
      <div class="form__item">
        <%= outgoings.errors_for outgoings.object, :food %>
        <%= outgoings.label :food %>
        <%= outgoings.text_field :food,
                              "class" => "form-control",
                              "placeholder" => "Credit debts",
                              "ng-model" => "affordability.outgoings.food",
                              "ng-initial" => "",
                              "currency" => '',
                              "data-a-sign" =>"£",
                              "data-m-dec" =>"0",
                              "value" => outgoings.object.food_formatted,
                              "pattern" => '\d*' %>
      </div>
    </div>
  <% end %>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <div class="form__item form__item--spaced">
      <a href="javascript:window.history.go(-1);" class='button mortgagecalc__submit mortgagecalc__submit--flow previous rendered-from-js'><%= t "affordability.back" %></a>
      <%= f.submit I18n.t("affordability.input_page.submit"),
             class: "button button--primary mortgagecalc__submit mortgagecalc__submit--flow" %>
    </div>
  </div>
<% end %>
