<h4 class="mortgagecalc__heading"><%= t("affordability.next_steps.high.title") %></h4>

<ol class="featured-list">
  <li>
    <strong><%= t("affordability.next_steps.high.tip_1.heading") %></strong>
    <%= t("affordability.next_steps.high.tip_1.info_html",
      deposit: link_to(
        t("affordability.next_steps.high.tip_1.url_text_1"),
        t("affordability.next_steps.high.tip_1.url_1"),
        target: "_blank",
        rel: no_follow?
      ),
      ratios: link_to(
        t("affordability.next_steps.high.tip_1.url_text_2"),
        t("affordability.next_steps.high.tip_1.url_2"),
        target: "_blank",
        rel: no_follow?)
      )
    %>
  </li>
  <li>
    <strong><%= t("affordability.next_steps.high.tip_2.heading") %></strong>
    <%= link_to(
          t("affordability.next_steps.high.tip_2.info_html"),
          t("affordability.next_steps.high.tip_2.url"),
          target: "_blank",
          rel: no_follow?
        )
    %>
  </li>
  <li>
    <strong><%= t("affordability.next_steps.high.tip_3.heading") %></strong>
    <%= t("affordability.next_steps.high.tip_3.info_html",
      budget_planner: link_to(
        t("affordability.next_steps.high.tip_3.url_text"),
        t("affordability.next_steps.high.tip_3.url"),
        target: "_blank",
        rel: no_follow?)
      )
    %>
  </li>
</ol>
