<div class="affcalc__col--clip">
  <%= render "#{risk_level}_risk_next_steps" %>
</div>

<div class="affcalc__row">
  <div class="affcalc__col--33">
    <div class="callout callout--tip">
      <span class="callout__icon" aria-hidden="true">?</span>

      <h5 class="callout__heading"><%= t("affordability.next_steps.learn_more.title") %></h5>

      <% (1..2).each do |i| %>
        <p><%= t("affordability.next_steps.learn_more.tip_#{i}") %></p>
      <% end %>

      <p><%= link_to t("affordability.next_steps.learn_more.more.copy_html"), t("affordability.next_steps.learn_more.more.url"), target: "_blank", rel: no_follow? %></p>
    </div>
  </div>

  <div class="affcalc__col--33 mortgagecalc__panel mortgagecalc__panel--nudge">
    <h5 class="mortgagecalc__subheading"><%= t("affordability.next_steps.find_out_more.title") %>:</h5>
    <ul>
      <% I18n.t("affordability.next_steps.find_out_more.tips").each do |tip| %>
        <li><%= link_to tip[:copy_html], tip[:url], target: "_blank", rel: no_follow? %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="affcalc__row">
  <div class="affcalc__col--clip mortgagecalc__panel mortgagecalc__panel--border">
    <h4 class="mortgagecalc__heading"><%= t("affordability.next_steps.have_you_tried.title") %></h4>
    <p><%= link_to t('affordability.next_steps.have_you_tried.mortgage_calculator'),
                   full_mortgage_calculator_url,
                   class: "button button--primary mortgagecalc__spread",
                   target: "_blank",
                   rel: no_follow? %>

      <%= link_to t('affordability.next_steps.have_you_tried.stamp_duty'),
                   full_stamp_duty_calculator_url,
                   class: "button button--primary mortgagecalc__spread",
                   target: "_blank",
                   rel: no_follow? %></p>
  </div>
</div>

<div class="affcalc__col--clip  mortgagecalc__panel mortgagecalc__panel--border mortgagecalc__panel--space">
    <%= link_to t("affordability.back"), localize_route("step_3_affordability_path"), class: "button mortgagecalc__submit mortgagecalc__submit--flow previous" %>
</div>
