<div class="affcalc__row">
  <div class="affcalc__col--clip">
    <h2><%= t("affordability.over_committed.title")%></h2>
    <p><%= t("affordability.over_committed.body_1_html")%></p>
    <p><%= t("affordability.over_committed.body_2_html")%></p>
    <p><%= t("affordability.over_committed.body_3_html")%></p>
  </div>
</div>

<div class="affcalc__row">
  <div class="affcalc__col--clip">
    <p>
      <%= link_to t("affordability.back"), localize_route("step_2_affordability_path"), class: "button mortgagecalc__submit mortgagecalc__submit--flow previous" %>

      <%= link_to t("affordability.next_steps_btn"), localize_route("next_steps_affordability_path"), class: "button" %>
    </p>
  </div>
</div>
