<p>
  Your take home pay per month: <%= number_to_currency @affordability.monthly_net_income %>
</p>

<p>
  You might be offered between <%= number_to_currency @affordability.can_borrow_from %> and <%= number_to_currency @affordability.can_borrow_upto%>
</p>

<p>
  Borrowing: <%= number_to_currency @affordability.borrowing %>
</p>

<p>
  Monthly mortgage repayment: <%= number_to_currency @affordability.repayment.monthly_payment %>
</p>

<p>
  Committed costs are <%= number_to_currency @affordability.committed_costs %>
</p>

<p>
  Your risk percentage is <%= number_to_percentage @affordability.risk_percentage, precision: 0 %>
</p>

<p>
  Your risk level is <%= @affordability.risk_level %>
</p>

<hr>

<p>
  Lifestyle costs are <%= number_to_currency @affordability.lifestyle_costs %>
</p>

<p>
  Remaining per month is <%= number_to_currency @affordability.remaining %>
</p>
