<div ng-controller="CalculatorCtrl">
  <h1>Find out how much you can borrow</h1>
    <%= form_for @affordability, url: affordability_path, html: { name: 'affordability_form', role: 'form' } do |f| %>
      <!-- START AFFORDABILITY CALCULATOR -->

      <%= f.fields_for :people do |person| %>
        <% count = @affordability.people.find_index(person.object) %>

        <% if count != 0 %>
          <div ng-show="affordability.selectedOption == 2">
        <% end %>

        <%= field_set_tag do %>
          <%= person.label :annual_income  %>
          <%= person.text_field :annual_income,
                                "ng-pattern" => "/^\\d+$/",
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person#{count + 1}.annual",
                                "placeholder" => "Your yearly income",
                                "value" => nil
          %>

          <p ng-show="affordability_form['affordability[people_attributes][<%= count %>][annual_income]'].$invalid && !affordability_form['affordability[people_attributes][<%= count %>][annual_income]'].$pristine" class="help-block">Please enter an amount</p>

          <%= person.label :extra_income  %>
          <%= person.text_field :extra_income,
                                "ng-pattern" => "/^\\d+$/",
                                "class" => "form-control",
                                "ng-model" => "affordability.earnings.person#{count + 1}.extra",
                                "placeholder" => "Any extra income",
                                "value" => nil
          %>

          <p ng-show="affordability_form['affordability[people_attributes][<%= count %>][extra_income]'].$invalid && !affordability_form['affordability[people_attributes][<%= count %>][extra_income]'].$pristine" class="help-block">Please enter an amount</p>
          <% if count != 0 %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= field_set_tag do %>
        <label for="numberOfPeople">
          Number of people
        </label>
        <select ng-change="normalizeValues()" ng-options="i for i in affordability.numberOfPeople " ng-model="affordability.selectedOption" name="numberOfPeople" class="form-control" required></select>
      <% end %>

      <%= field_set_tag do %>
        <%= f.label :monthly_debt, 'Personal Spend' %>
        <%= f.text_field :monthly_debt, "ng-patern" => "/^\d+$/",
                                        "class" => "form-control",
                                        "ng-model" => "affordability.committedSpend",
                                        "placeholder" => "Spending" %>
        <p ng-show="affordability_form.committedSpend.$invalid && affordability_form.committedSpend.$dirty" class="help-block">Only numbers</p>
      <% end %>

      <%= f.submit %>

    <!-- END AFFORDABILITY CALCULATOR -->

  <% end %>

  <div ng-show="affordability.earnings.person1.annual">
    <p>
      Based on your total income of
      <span class='label label-primary'>{{ affordability.totalIncome() | currency:"£" }}</span>
      and your total expenditure of
      <span class='label label-danger'>{{ affordability.committedSpend | currency:"£" }}</span>,
      the maximum mortgage you can borrow is between
      <span class='label label-success'>{{ affordability.minimumBorrowing() | currency:"£" }}</span>
      to
      <span class='label label-success'>{{ affordability.maximumBorrowing() | currency:"£" }}</span>
    </p>
  </div>
</div>
