<%= render 'header' %>

<div ng-controller="CalculatorCtrl" class="mortgagecalc__container ">
  <div wizard on-finish="finishedWizard()" hide-indicators='true'>
    <div wz-step class="ng-hide">
      <%= render 'form_step1' %>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <% if @affordability.valid? %>
          <%= render 'form_step2' %>
        <% end %>
      </div>
    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <%= render 'next_steps_content' %>
      </div>
    </div>
  </div>

</div>

<%= render 'caveat' %>
<%= render 'feedback' %>

