<% content_for(:analytics) do %>
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_trackEvent','Affordability Calculator','Completion','Click']);
    _gaq.push(['_trackEvent','Affordability Calculator','Risk Level', '<%= @affordability.risk_level %>']);
    <% if @affordability.remaining_negative? %>
      _gaq.push(['_trackEvent','Affordability Calculator','Remaining', 'Non-positive']);
    <% end %>
  </script>
<% end %>

<% content_for(:head) do %>
<!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
<%= javascript_include_tag 'r2d3', charset: 'utf-8' %>
<![endif]-->

<%# Responsive styles for all modern devices %>
<!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
<%= javascript_include_tag 'd3' %>
<!--<![endif]-->
<% end %>

<div ng-controller="CalculatorCtrl" class="mortgagecalc__container risk--<%= @affordability.risk_level %>"
  ng-class="{'high':'risk--high', 'medium':'risk--medium', 'low':'risk--low'}[affordability.riskLevel()]">
  <%= render 'form_step3' %>
</div>

<%= render 'feedback' %>
