<div ng-controller="CalculatorCtrl" class="ns-mortgage-calc__affcalc">
  <%= render 'header' %>
  <%= render 'form_step1' %>
  <%= render 'caveat' %>

  <%= render 'feedback' %>
  <%= render 'seo_links' %>
</div>
