<% content_for(:head) do %>
  <%# Basic styles for all devices, doesnt contain anything that could cause rendering issues such as positional info %>
    <%= stylesheet_link_tag 'mortgage_calculator_basic' %>

    <% if disable_responsiveness? %>
      <%= stylesheet_link_tag 'mortgage_calculator_enhanced_fixed', media: 'all' %>
    <% else %>
      <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
      <%= stylesheet_link_tag 'mortgage_calculator_enhanced_fixed', media: 'all' %>
      <![endif]-->

      <%# Responsive styles for all modern devices %>
      <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= stylesheet_link_tag 'mortgage_calculator_enhanced_responsive', media: 'only all' %>
      <!--<![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% end %>

    <%= stylesheet_link_tag 'mortgage_calculator_print', media: 'print' %>

  <%= javascript_include_tag "mortgage_calculator/application" %>

  <%= csrf_meta_tags %>
<% end %>

<% content_for(:javascripts) do %>
  <% if Rails.env.production? || Rails.env.qa? %>
    <script
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
      data-apikey="<%= MortgageCalculator.bug_snag_key %>">
    </script>
  <% end %>
<% end %>

<% content_for(:analytics) do %>
  <script type='text/javascript'>
    var _gaq = _gaq || [];
  </script>

  <% if Rails.env.production? || Rails.env.qa? %>
    <script type='text/javascript'>
      _gaq.push(['_setAccount','<%= GA.tracker %>']);
      _gaq.push(['_setDomainName','moneyadviceservice.org.uk']);
      _gaq.push(['_setAllowLinker',true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
<% end %>

<% content_for(:tool_content) do %>
  <div class="ns-mortgage-calc">
    <!--[if IE 7 ]> <div class="frontend-assets ie ie7"> <![endif]-->
    <!--[if IE 8 ]> <div class="frontend-assets ie ie8 gt-ie7"> <![endif]-->
    <!--[if IE 9 ]> <div class="frontend-assets ie ie9 gt-ie7 gt-ie8"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><div class="frontend-assets gt-ie7 gt-ie8 gt-ie9"><!--<![endif]-->
      <div ng-app="mortgageCalculatorApp" class="mortgagecalc">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: parent_template %>
