<% content_for(:head) do %>
  <%= stylesheet_link_tag    "mortgage_calculator/application", :media => "all" %>
  <%= javascript_include_tag "mortgage_calculator/application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for(:tool_content) do %>
<div class="ns-mortgage-calc">
  <div ng-app="mortgageCalculatorApp" class="mortgagecalc">
  	<%= render 'header' %>

  	<div class="mortgagecalc__container">
	    <%= yield %>
    </div>
  </div>
</div>
<% end %>

<%= render template: parent_template %>
