<%= form_for @ltt,
  url: land_transaction_tax_path,
  html: {
    name: 'stamp_duty_form',
    role: 'form',
    class: 'form step_one stamp-duty__step-one',
    novalidate: ''
  } do |f| %>

  <%= f.label :buyer_type, class: 'stamp-duty__buyer-type' do %>
    <%= t("land_transaction_tax.select.label") %>
    <%= f.select(
          :buyer_type,
          [
            [t("land_transaction_tax.select.option_prompt"), ''],
            [t("land_transaction_tax.select.option_isNextHome"), 'isNextHome'],
            [t("land_transaction_tax.select.option_isSecondHome"), 'isSecondHome']
          ],
          {},
          {
            'ng-model' => 'stampDuty.buyerType'
          }
    ) %>
    <span data-dough-component="PopupTip">
      <%= popup_tip_trigger options: {
        text: t("land_transaction_tax.tooltip_show")
      } %>
      <%= popup_tip_content options: {
        text: t("land_transaction_tax.select.tooltip_html"),
        classname: 'details__helper',
        tooltip_hide: t("land_transaction_tax.tooltip_hide")
      } %>
    </span>
  <% end %>

  <div class="stamp-duty__form form__item">
    <%= f.label :price, class: "stamp-duty__input-description" %>
    <div class="visually-hidden" id="mc_accessibility_describe_price">
      <%= t "land_transaction_tax.describe_price_field" %>
    </div>

    <span class="stamp-duty__input-wrapper stamp-duty__input-wrapper--inline">
      <span class="stamp-duty__input--unit">£</span>
      <%= f.text_field :price,
                       value: @ltt.price_formatted,
                       "autofocus" => '',
                       "ng-model" => "stampDuty.propertyPrice",
                       "placeholder" => "0",
                       "currency" => '',
                       "data-m-dec" =>"0",
                       "pattern" => '\d*',
                       "class" => 'stamp-duty__input' %>
    </span>

    <%= f.submit I18n.t("land_transaction_tax.next"),
                 class: "button button--primary stamp-duty__submit",
                 'ng-click' => 'navigateAndFocus($event)',
                 'ng-disabled' => '!stampDuty.propertyPrice || !stampDuty.buyerType',
                 'analytics-category' => 'Stamp Duty Calculator',
                 'analytics-action' => 'Completion',
                 'analytics-label' => 'Click',
                 'analytics' => '',
                 'analytics-on' => 'click'
    %>
  </div>
<% end %>
<hr />

<h2><%= t("land_transaction_tax.elsewhere.title") %></h2>
<p><%= t("land_transaction_tax.elsewhere.body") %></p>
