<p><%= I18n.t("land_transaction_tax.how_calculated") %></p>

<% if first_time_buyer? %>
  <p><%= raw I18n.t("land_transaction_tax.how_calculated_table_ftb") %></p>
<% else %>
  <p><%= raw I18n.t("land_transaction_tax.how_calculated_table_next") %></p>
<% end %>

<p><%= I18n.t("land_transaction_tax.how_calculated_additional").html_safe %></p>

<table class="mortgagecalc__table stamp-duty__table">
  <caption class="mortgagecalc__table__caption"><%= I18n.t("land_transaction_tax.table.caption.main_rate") %></caption>
  <thead>
    <tr>
      <th class="mortgagecalc__table__price">
        <%= I18n.t("land_transaction_tax.table.property_price_header") %>
      </th>
      <th class="mortgagecalc__table__rate">
        <%= I18n.t("land_transaction_tax.table.rate_header") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% standard_rates.each do |rate| %>
      <tr>
        <td class="mortgagecalc__table__price">
          <%= band(rate[:start], rate[:end]) %>
        </td>
        <td class="mortgagecalc__table__rate">
          <%= rate[:rate] %>%
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= I18n.t("land_transaction_tax.how_calculated_extra",
           amount: second_home_threshold) %>
</p>

<table class="mortgagecalc__table stamp-duty__table">
  <caption class="mortgagecalc__table__caption"><%= I18n.t("land_transaction_tax.table.caption.higher_rate") %></caption>
  <thead>
    <tr>
      <th class="mortgagecalc__table__price">
        <%= I18n.t("land_transaction_tax.table.property_price_header") %>
      </th>
      <th class="mortgagecalc__table__rate">
        <%= I18n.t("land_transaction_tax.table.rate_header") %>*
      </th>
    </tr>
  </thead>
  <tbody>
    <% higher_rates.each do |rate| %>
      <tr>
        <td class="mortgagecalc__table__price">
          <%= band(rate[:start], rate[:end]) %>
        </td>
        <td class="mortgagecalc__table__rate">
          <%= rate[:rate] %>%
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
