<% content_for(:head) do %>
  <script>
   window.calculator_config = <%= raw calculator_config_json %>;
  </script>
<% end %>

<div ng-controller="CalculatorCtrl" class="mortgagecalc__container stamp-duty">
  <div class="global-alert--warning global-alert--in-page" style="margin-bottom: 1.75rem;">
    <div class="global-alert__content-container">
      <p class="global-alert__message"><%= t("land_transaction_tax.banner_message") %></p>
    </div>
  </div>

  <% @ltt.errors.full_messages.each do |message| %>
    <span style="color:red;"><%= message %></span>
  <% end %>
  <div hide-indicators='true'>
    <div>
      <div class="stamp-duty__container">
        <h1 class="stamp-duty__heading">
          <%= I18n.t("land_transaction_tax.heading") %>
        </h1>
        <h2 class="intro stamp-duty__subheading">
          <%= I18n.t("land_transaction_tax.title") %>
        </h2>
        <%= I18n.t("land_transaction_tax.subtitle_paras_html").html_safe %>

        <%= render 'calculator_form', ltt: @ltt %>
      </div>

      <%= render 'mortgage_calculator/shared/links_to_other_tools' %>
    </div>

    <div class ="ng-hide">
      <div class="rendered-from-js">
        <div class="stamp-duty__container">
          <h1 class="stamp-duty__heading">
            <%= I18n.t("land_transaction_tax.heading_results") %>
          </h1>
          <%= render 'results_recalculation_form', ltt: @ltt %>
        </div>
      </div>
    </div>
  </div>
</div>
